<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/remixicon.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/summernote-bs4.min.css">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
</head>
<body>
  <div id="wrap_login">
    <div class="cotainer">
        <hr>
        <form class="row" name="login_form" method="post">
            <div class="row col-md-12  align-items-center my-3">
                <div class="col-md-12">
                    <input type="userid" name="userid" class="form-control"
                    placeholder="아이디" id="userid" required />
                </div> 
            </div>
            <div class="row col-md-12  align-items-center my-3">
                <div class="col-md-12">
                    <input type="password" name="userpass" class="form-control"
                    placeholder="비밀번호" id="userpass" required />
                </div>       
            </div>

            <hr>
            <div>
              <input type="checkbox">
            </div>
            <div class="row col-md-12  align-items-center my-3">
              <a href="#" class="create_btn btn btn-info col-12">로그인</a>
            </div>
            <input type="hidden" name="userid" value={{userid}} />
            <input type="hidden" name="imnum" id="imnum" />
      </form>
    </div>
  </div>
  <!-- //wrap -->
</body>
 
    
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>



  
    
    </script>
</body>
</html>