{% extends 'layout.html' %}

{% block content %}
  <div class="login_img text-center">
    <div class="login_img i1">
      <span>약관동의</span>
      <span><i class="ri-user-line"></i></span>
    </div>
    <div class="login_img i2 active">
      <span class="active">정보입력</span>
      <span><i class="ri-edit-2-fill"></i></span>
    </div>
    <div class="login_img i3">
      <span>가입완료</span>
      <span><i class="ri-verified-badge-line"></i></span>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 p-5 text-center">
          <h1>회원가입</h1>
      </div>
  </div>

  <div id="wrap_create">
    <div class="container">
        <hr>
        <form class="row justify-content-center" name="login_form" method="post">
            <div class="row col-md-8  align-items-center my-3">
                <label class="col-md-2" for="userid">아이디</label>
                <div class="col-md-8 userid_container">
                    <input type="userid" name="userid" class="form-control"
                    placeholder="공백 없는 영문/숫자 포함 6~20자" id="userid" required autocomplete="off" />
                    <div class="message_box">
                      <div class="success-message hide">사용할 수 있는 아이디입니다.</div>
                      <div class="failure-message hide">아이디는 6 ~ 20글자이어야 합니다.</div>
                      <div class="failure-message2 hide">영어 또는 숫자만 가능합니다.</div>
                    </div>
                </div>
                <div class="col-md-2">
                  <a href="javascript:void(0);" class="userid_check btn btn-info d-block">중복확인</a>
                </div> 
            </div>
            <div class="row col-md-8  align-items-center my-3">
                <label class="col-md-2" for="userpass">비밀번호</label>
                <div class="col-md-10 password_container">
                    <input type="password" name="userpass" class="form-control"
                            id="userpass" required autocomplete="off" />
                    <div class="strongPassword-message hide">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요.</div>
                </div>
            </div>
            <div class="row col-md-8  align-items-center my-3">
              <label class="col-md-2" for="userpass">비밀번호 확인</label>
              <div class="col-md-10 userpass_check_container">
                  <input type="password" name="userpass_check" class="form-control"
                          id="userpass_check" required />
                  <div class="mismatch-message hide">비밀번호가 일치하지 않습니다.</div>
                  <div class="match-message hide">비밀번호가 일치합니다.</div>
              </div>
            </div>
            <hr>
            <div class="row col-md-8  align-items-center my-3">
                <label class="col-md-2" for="username">이름</label>
                <div class="col-md-10">
                    <input type="text" name="username" class="form-control username"
                            id="username" required />
                    <div class="success-korean hide">사용할 수 있는 이름입니다.</div>
                    <div class="failure-korean hide">한글만 입력 가능합니다.</div>
                </div>       
            </div>
            <div class="row col-md-8  align-items-center my-3">
                <label class="col-md-2" for="email">이메일</label>
                <div class="col-md-3">
                    <input type="text" name="emailName" class="form-control emailName"
                            id="emailName" required placeholder="" />
                </div>
                <div><span>@</span></div>
                <div class="col-md-3">
                  <input type="text" name="emailId" class="form-control emailId"
                          id="emailId" required />
                </div>
                <div class="col-md">
                    <select name="E_select" id="E_select" class="form-control E_select">
                      <option value="directly" id="textEmail">직접입력</option>
                      <option value="naver.com" id="naver.com">naver.com</option>
                      <option value="nate.com" id="nate.com">nate.com</option>
                      <option value="dreamwiz.com" id="dreamwiz.com">dreamwiz.com</option>
                      <option value="yahoo.co.kr" id="yahoo.co.kr">yahoo.co.kr</option>
                      <option value="empal.com" id="empal.com">empal.com</option>
                      <option value="gmail.com" id="gmail.com">gmail.com</option>
                      <option value="korea.com" id="korea.com">korea.com</option>
                      <option value="chol.com" id="chol.com">chol.com</option>
                      <option value="paran.com" id="paran.com">paran.com</option>
                      <option value="freechal.com" id="freechal.com">freechal.com</option>
                      <option value="hanmail.net" id="hanmail.net">hanmail.net</option>
                      <option value="hotmail.com" id="hotmail.com">hotmail.com</option>
                    </select>
                </div>
            </div>
              <div class="row col-md-8  align-items-center my-3">
                <label class="col-md-2" for="tel">휴대폰번호</label>
                <div class="col-md-3">
                    <input type="tel" name="tel" class="form-control tel"
                            id="tel" required />
                </div>
                -
                <div class="col-md-4">
                  <input type="tel" name="tel" class="form-control tel"
                          id="tel" required />
                </div>
                -
                <div class="col-md">
                  <input type="tel" name="tel" class="form-control tel"
                          id="tel" required />
                </div> 
                <div class="elFailureTel hide">숫자만 입력 가능합니다.</div>      
              </div>
            <div class="row col-md-8  align-items-center my-3">
              <label class="col-md-2" for="address">주소</label>
              <ul class="col-md-10">
                <li class="d-flex mb-1">
                  <input type="tel" name="new_zipcode" id="zip_code" class="size_zip_all form-control col-md-2" readonly>
                  <button type="button" class="btn btn-info ml-1" onclick="findAddr()">주소찾기</button>
                </li>
                <li>
                  <input type="text" name="addr" id="addr" class="addr form-control mb-1" readonly>
                </li>
                <li>
                  <input type="text" name="addr_dtl" id="addr_dtl" class="form-control addr_dtl">
                </li>
              </ul>
            </div>
            <div class="row col-md-8 align-items-center my-3">
              <a href="#" class="create_btn btn btn-info col-md-12">입력완료</a>
            </div>
            <input type="hidden" name="userid" value={{userid}} />
            <input type="hidden" name="imnum" id="imnum" />
      </form>
      </div>
  </div>
  <!-- //wrap_create -->
{% endblock %}

{% block indexScript %}
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>

    window.Kakao.init('5aaea0190cb95d8a6169d6ce269782ab');
    console.log(Kakao.isInitialized());

    //카카오로그인
    function kakaoLogin() {
    Kakao.Auth.login({
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
            console.log(response)
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
  //카카오로그아웃  
function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function (response) {
          console.log(response)
        },
        fail: function (error) {
          console.log(error)
        },
      })
      Kakao.Auth.setAccessToken(undefined)
    }
  }  

  
//회원가입 주소 Daum API 사용
function findAddr() {
            //팝업 위치를 지정(화면의 가운데 정렬)
            var width = 500; //팝업의 너비
            var height = 600; //팝업의 높이
    new daum.Postcode({
        oncomplete: function(data) {
            //사용자 주소를 받아올 변수를 정의.
            var addr = '';
          
            // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if(data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우(R)
                addr = data.roadAddress;
            }else { //사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }
            $("#zip_code").val(data.zonecode);
            $("#addr").val(addr);
            $("#addr_dtl").val("");
            $("#addr_dtl").focus();

        }
    }).open({
      left: (window.screen.width / 2) - (width / 2),
      top: (window.screen.height / 2) - (height / 2)
    });
}
</script>
{% endblock %}
