<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="../css/header/header.css">
    <link rel="stylesheet" href="../css/footer/footer.css">

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/summernote-bs4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script src="../js/template/main.js"></script>
    <script src="../js/script.js"></script>
    
    {% block style %}
    {% endblock %}
</head>
<body style="overflow: visible; overflow-x: hidden;" >
    <div id="wrap">
        <div id="layout_wrap" class="layout_wrap">
            {% include "./template/header.html" %}
                {% block content %}

                {% endblock %}
            {% include "./template/footer.html" %}
        </div>
    </div>

    

    {% block script %}
    {% endblock %}

    {% block indexScript %}
    {% endblock %}
</body>
</html>