{% extends 'layout.html' %}

{% block content %}
    <div id="detail-wrap-info">
        <div class="catalog_title bg_blur swiper-container-horizontal">
            <div class="ajaxLineMap search_nav">
                <a href="#" class="home"><img src="/" alt="home"></a>
                <div class="nav_linemap2">
                    <span class="selected_cate">꽃바구니</span>
                </div>
            </div>
        </div>
        <!-- //catalog_list_page -->

{% endblock %}



{% block indexScript %}
<script>

</script>
{% endblock %}