{% extends 'layout.html' %}

{% block content %}
    <div id="catalog_list_page">
        <div class="catalog_title bg_blur swiper-container-horizontal">
            <ul class="d-flex">
                <li>
                    <a href="#">플로리스트 추천</a>
                </li>
                <li>
                    <a href="#">택배특가</a>
                </li>
                <li>
                    <a href="#">크리스마스 꽃</a>
                </li>
                <li>
                    <a href="#">내가 만드는 꽃</a>
                </li>
                <li>
                    <a href="#">명화컬렉션</a>
                </li>
                <li>
                    <a href="#">이달의 꽃</a>
                </li>
                <li>
                    <a href="#">케이크</a>
                </li>
                <li class="justify-content-end">
                    <a href="#"><p>전체보기</p></a>
                </li>
            </ul>
        </div>
        <!-- catalog_content_list -->
        <div class="catalog_content_list">
            <div class="catalog_content s1">
                <div class="catalog_content_top">
                    <div class="catalog_content_top_html container">
                        <div class="row justify-content-center">플로리스트 추천 꽃선물</div>
                    </div>
                </div>
                <!-- //catalog_content_top -->
                <div class="catalog_content_subtitle_container">
                    <ul class="catalog_content_subtitle">
                        <li class="on"><a href="#" data-filter="all" >전체</a></li>
                        <li><a href="#" data-filter="flowers">꽃다발</a></li>
                        <li><a href="#" data-filter="flower_basket">꽃바구니</a></li>
                        <li><a href="#" data-filter="flower_box">꽃상자</a></li>
                    </ul>
                </div>
                <!-- catalog_content_subtitle -->
                <div class="catalog_content_middle container-fluid">
                    <ul class="goods_list row">
                        <!-- ######## 이미지 루프 ########-->
                    </ul>
                    <!-- //goods_list -->
                </div>
                <!-- //catalog_content_middle-->
                <div class="catalog_content_bottom">
                    <a href="#">플로리스트 추천 상품 모두 보기<img alt="icon"></a>
                </div>
                <!-- //catalog_content_bottom -->
            </div>
            <!-- //catalog_content s1 -->
            <div class="catalog_content s2">
                <div class="catalog_content_top">
                    <div class="eventday_pc">
                        <img src="../images/page_present/post_event.png" alt="post_event">
                    </div>
                </div>
                <div class="catalog_content_subtitle_container">
                    <ul class="catalog_content_subtitle">
                        <li class="on"><a href="#" data-filter="all">전체</a></li>
                        <li><a href="#" data-filter="flowers">꽃다발</a></li>
                        <li><a href="#" data-filter="flower_basket">꽃바구니</a></li>
                    </ul>
                </div>
                <!-- catalog_content_middle -->
                <div class="catalog_content_middle container-fluid">
                    <ul class="goods_list_2 row">
                        <!-- ######## 이미지 루프  ########-->
                    </ul>
                    <!-- //goods_list -->
                </div>
                <!-- //catalog_content_middle-->
                <div class="catalog_content_bottom">
                    <a href="#">택배특가 상품 모두 보기<img alt="icon"></a>
                </div>
                <!-- //catalog_content_bottom -->
            </div>
            <!-- //catalog_content s2 -->

            <!-- DIY, 내가 만드는 꿈 -->
            <div class="catalog_content s3">
                <div class="catalog_content_top">
                    <div class="catalog_content_top_html">
                        <div>DIY, 내가 만드는 꿈</div>
                    </div>
                    <div class="catalog_content_middle">
                        <div class="designDisplay">
                            <div class="goods_display_slide_wrap">
                                <swiper-container class="swiper-wrapper" watch-slides-progress="true" slides-per-view="4" navigation="true">
                                    <swiper-slide>
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_1.jpg" alt="DIY_1">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide siwper-sldie-next">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_2.jpg" alt="DIY_2">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_3.jpg" alt="DIY_3">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_4.jpg" alt="DIY_4">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_5.jpg" alt="DIY_5">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                </swiper-container>
                            </div>
                        </div>
                    </div>
                    <!-- // catalog_content_middle -->
                    <div class="catalog_content_bottom">
                        <a href="#">내가 만드는 꽃 상품 모두 보기<img alt="icon"></a>
                    </div>
                </div>
            </div>
            <!-- //catalog_content s3 -->

            <!-- 크리스마스 선물 추천 -->
            <div class="catalog_content s4">
                <div class="catalog_content_top">
                    <div class="catalog_content_top_html">
                        <div>크리스마스 선물 추천</div>
                    </div>
                    <div class="catalog_content_middle">
                        <div class="designDisplay">
                            <div class="goods_display_slide_wrap">
                                <swiper-container class="swiper-wrapper" watch-slides-progress="true" slides-per-view="4" navigation="true">
                                    <swiper-slide>
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/christmas/christmas_1.jpg" alt="christmas_1">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide siwper-sldie-next">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/christmas/christmas_2.jpg" alt="christmas_2>
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/christmas/christmas_3.jpg" alt="christmas_3">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/christmas/christmas_4.jpg" alt="christmas_4">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)"></a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                </swiper-container>
                            </div>
                        </div>
                    </div>
                    <!-- // catalog_content_middle -->
                    <div class="catalog_content_bottom">
                        <a href="#">크리스마스 꽃 상품 모두 보기<img alt="icon"></a>
                    </div>
                </div>
            </div>
            <!-- //catalog_content s4 -->

            <!-- 명화(名畵)를 꽃으로 만나다. -->
            <div class="catalog_content s5">
                <div class="catalog_content_top">
                    <div class="catalog_content_top_html">
                        <div>명화(名畵)를 꽃으로 만나다.</div>
                    </div>
                    <div class="catalog_content_middle">
                        <div class="designDisplay">
                            <div class="goods_display_slide_wrap">
                                <swiper-container class="swiper-wrapper" watch-slides-progress="true" slides-per-view="4" navigation="true">
                                    <swiper-slide>
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_1.jpg" alt="DIY_1">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide siwper-sldie-next">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_2.jpg" alt="DIY_2">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_3.jpg" alt="DIY_3">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_4.jpg" alt="DIY_4">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/DIY/DIY_5.jpg" alt="DIY_5">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                </swiper-container>
                            </div>
                        </div>
                    </div>
                    <!-- // catalog_content_middle -->
                    <div class="catalog_content_bottom">
                        <a href="#">명화컬렉션 스토리<img alt="icon"></a>
                    </div>
                </div>
            </div>
            <!-- //catalog_content s5 -->


            <div class="catalog_content s1">
                <div class="catalog_content_top">
                    <div class="catalog_content_top_html container">
                        <div class="row justify-content-center">지금 가장 아름다운 꽃, 이달의 꽃</div>
                    </div>
                </div>
                <!-- //catalog_content_top -->
                <div class="catalog_content_subtitle_container">
                    <ul class="catalog_content_subtitle">
                        <li class="on"><a href="#" data-filter="all" >전체</a></li>
                        <li><a href="#" data-filter="flowers">수국</a></li>
                    </ul>
                </div>
                <!-- catalog_content_subtitle -->
                <div class="catalog_content_middle container-fluid">
                    <ul class="goods_list_3 row">
                        <!-- ######## 이미지 루프 ########-->
                        <li class="gl_item d-flex">
                            <div class="gl_inner_item_wrap">
                            <!-- 상품 이미지 -->
                                <div class="gl_image">
                                    <a href="/page_present_detail">
                                        <img src="../images/page_present/most_beauty/most_beauty_1.jpg" alt="1">
                                    </a>
                                </div>
                                <div class="resp_display_goods_info infO_style_1">
                                    <!-- 상품명 -->
                                    <div class="goods_info display_goods_name">
                                        <span>
                                            <a href="#">진심(수국꽃다발)</a>
                                        </span>
                                    </div>
                                    <div class="info_group">
                                        <!-- (할인 혜택)판매가 -->
                                        <div class="goodS_info display_sales_price">
                                            <span class="area">
                                                <span class="won">72,000</span>
                                                원
                                            </span>
                                        </div>
                                        <!-- 정가 -->
                                        <div class="goodS_info display_consumer_price">
                                            <span class="area">
                                                <span class="won">75,000</span>
                                                원
                                            </span>
                                        </div>
                                        <!-- 할인율 -->
                                        <div class="goodS_info display_sales_percent">
                                            <span class="area">
                                                <span class="won">4</span>
                                                %
                                            </span>
                                        </div>
                                        <div class="goods_evaluate">구매 2,266 후기 85</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- //goods_list -->
                </div>
                <!-- //catalog_content_middle-->
                <div class="catalog_content_bottom">
                    <a href="#">이달의 꽃 상품 모두 보기<img alt="icon"></a>
                </div>
                <!-- //catalog_content_bottom -->
            </div>
            <!-- //catalog_content s1 -->

            <!-- 케이크와 함께하는 꽃선물 -->
            <div class="catalog_content s6">
                <div class="catalog_content_top">
                    <div class="catalog_content_top_html">
                        <div>케이크와 함께하는 꽃선물</div>
                    </div>
                    <div class="catalog_content_middle">
                        <div class="designDisplay">
                            <div class="goods_display_slide_wrap">
                                <swiper-container class="swiper-wrapper" watch-slides-progress="true" slides-per-view="4" navigation="true">
                                    <swiper-slide>
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/cake/cake_1.jpg" alt="cake">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide siwper-sldie-next">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/cake/cake_2.jpg" alt="cake">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            <img src="../images/page_present/cake/cake_3.jpg" alt="cake">
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)">min M</a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num">22,900</span>원
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)"></a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                    <swiper-slide class="goods_list_D swiper-slide">
                                        <ul class="goods_list_D swiper-slide swiper-slide-active">
                                            <li class="gl_item">
                                                <div class="gl_inner_item_wrap">
                                                    <!-- 상품 이미지 -->
                                                    <div class="gl_image">
                                                        <a href="javascript:void(0);">
                                                            
                                                        </a>
                                                    </div>
                                                    <div class="resp_display_goods_info infO_style_1">
                                                        <!-- 상품명 -->
                                                        <div class="goods_info display_goods_name">
                                                            <span class="area"><a href="javascript:void(0)"></a></span>
                                                        </div>
                                                        <div class="info_group">
                                                            <div class="goods_info display_sales_price">
                                                                <span class="area">
                                                                    <span class="num"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </swiper-slide>
                                </swiper-container>
                            </div>
                        </div>
                    </div>
                    <!-- // catalog_content_middle -->
                    <div class="catalog_content_bottom">
                        <a href="#">크리스마스 꽃 상품 모두 보기<img alt="icon"></a>
                    </div>
                </div>
            </div>
            <!-- //catalog_content s6 -->


        </div>
        <!-- //catalog_content_list -->
    </div>
    <!-- //catalog_list_page -->
{% endblock %}


{% block indexScript %}
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    const filterMenuInit = () => {
        const filters = document.querySelectorAll('[data-filter-id]');

        filters.forEach(filter => {
            const filterBtns = [...filter.querySelectorAll('[data-filter]')].filter(el => el.nodeName === 'A');
            const filterLists = [...filter.querySelectorAll('[data-filter]')].filter(el => el.nodeName === 'LI');

            filterBtns.forEach(btn => {
                btn.addEventListener('click', () => {
                    const filterType = btn.getAttribute('data-filter');

                    filterBtns.forEach(btn => btn.classList.remove('active'));
                    btn.classList.add('active');

                    filterLists.forEach(list => {
                        if (filterType === 'all'){
                            list.style.display = 'list-item';
                            return;
                        }
                        
                        list.style.display = list.getAttribute('data-filter') === filterType ? 'list-item' : 'none';
                    })
                });
            })
        })
    };
    filterMenuInit();
</script>
{% endblock %}