@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('bootstrap.min.css');
@import url('animate.min.css');
@import url('remixicon.css');

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
    font-family: 'Roboto','Noto Sans KR','Malgun Gothic',sans-serif;
}
li {
    list-style: none;
}
a, a:link {
    text-decoration: none;
    color: #444;
}
img {
    vertical-align: top;
    max-width: 100%;
}
li {
    list-style: none;
}
body {
    min-width: 320px;
}
button {
    cursor: pointer;
}
body, th, td, input, select, textarea, button, pre {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 400;
    color: #666;
}
html {
    -webkit-text-size-adjust: none;
}
html, body {
    height: 100%;
}

button {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, 
h6, pre, code, form, fieldset, legend, textarea, p, 
blockquote, th, td, input, select, textarea, button, label {
    margin: 0;
    padding: 0;
    max-height: 100000px;
}
body {
    position: relative;
}
/* //reset */

/* ###################### float_banner 영역 : 시작 ###################### */
.float_banner {
    position: absolute;
    left: 160px;
    z-index: 10;
}
/* ###################### float_banner 영역 : 끝 ###################### */

/* ###################### aside_menu 영역 : 시작 ###################### */
.layout_aside {
    width: 0;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 20px;
    overflow: auto;
    z-index: 2024;
    display: block;
    background-color: #fff;
    transition: all 600ms;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
}
.layout_aside.on {
    width: 280px;
}
.aside_userinformation {
    opacity: 0.8;   
    padding: 10px;
    text-align: left;
    border-bottom: 1px #ddd solid;
    background-color: #fff;
    z-index: 100;
    position: relative;
}
.aside_userinformation > ul {
    display: table;
    width: 100%;
}
.aside_userinformation > ul > li {
    display: table-cell;
    vertical-align: middle;
}

/* log_right */
.log_right {
    display: inline-block;
    color: #444;
    text-align: right;
}
.log_right a  {
    border: 1px #ccc solid;
    background: #fff;
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    padding: 0 9px;
    box-sizing: border-box;
    text-align: center;
    color: #333;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 2px;
    transition: border-color 0.2s, background-color 0.2s;
}
/* aside_userinformation */
.aside_userinformation > ul > li span {
    color: #999 !important;
}
/* aside_main_menu */
.aside_main_menu {
    padding: 10px 5px;
}
.aside_main_menu > ul {
    font-size: 0;
    line-height: 0;
}
.aside_main_menu > ul > li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
}
.aside_main_menu > ul > li.am_order > a {
    background-image: url(../images/aside_menu/icon_aside_102.png);
}
.aside_main_menu > ul > li.am_subscribe > a {
    background-image: url(../images/aside_menu/icon_aside_109.png);
}
.aside_main_menu > ul > li.am_my > a {
    background-image: url(../images/aside_menu/icon_aside_103.png);
}
.aside_main_menu > ul > li.am_cs > a {
    background-image: url(../images/aside_menu/icon_aside_104.png);
}
.aside_main_menu > ul > li.am_cart > a {
    background-image: url(../images/aside_menu/icon_aside_101.png);
}
.aside_main_menu > ul > li.am_wish > a {
    background-image: url(../images/aside_menu/icon_aside_106.png);
}
.aside_main_menu > ul > li.am_coupon > a {
    background-image: url(../images/aside_menu/icon_aside_107.png);
}
.aside_main_menu > ul > li.am_emony > a {
    background-image: url(../images/aside_menu/icon_aside_108.png);
}
.aside_main_menu > ul > li > a {
    display: block;
    padding-top: 50px;
    padding-bottom: 5px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    background-size: 32px;
}
/* tab */
.aside_navigation_wrap .tab {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px #aaa solid;
    position: relative;
    z-index: 3;
}
.aside_navigation_wrap ul.tab > li {
    display: table-cell;
    line-height: 40px;
    text-align: center;
    background-color: #f6f6f6;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.aside_navigation_wrap ul.tab > li.current {
    background: none;
    border-bottom: none;
    color: #333;
    font-weight: 500;
}
.aside_navigation_wrap .category_cont ul.menu {
    margin-top: -1px;
}
.mitem_subcontents {
    display: block;
    margin-top: 1px;
}
.aside_navigation_wrap ul.menu li {
    line-height: 1.3;
}
.submenu {
    background-color: #fafbf0;
    clear: both;
}
.submenu > li {
    border-bottom: solid 1px #eee;
}
.submenu > li a {
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 13px 5px 11px 15px;
    line-height: 1.3;
    height: 40px;
}
.aside_navigation_wrap ul.menu li.mitem_subcontents ul.submenu li.submitem.category a.mitem_goodsview    {
    background: #fff url(../images/aside_menu/ico_arw_direct.png) no-repeat;
    background-position: right 15px top 50%;
    background-size: 7px;
    font-weight: 500;
    color: #333;
    font-size: 13px;
}
.banner_paypal {
    padding: 13px 15px;
}
.wrap_aside {
    padding: 0 10px;
}
.title_sub3 {
    padding: 30px 0 8px;
    font-size: 19px;
    font-weight: 300;
    color: #333;
}
.aside_recently_nodata {
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    padding: 25px 10px;
    text-align: center;
    color: #999;
}
.side_close {
    position: fixed;
    left: 295px;
    top: 0;
    margin-top: 20px;
    z-index: 2010;
    height: 30px;
    text-indent: -9999px;
    transition: width 0.4s 0.8s;
    overflow: hidden;
    -webkit-transition: width 0.4s 0.8s;
    -moz-transition: width 0.4s 0.8s;
    -ms-transition: width 0.4s 0.8s;
    -o-transition: width 0.4s 0.8s;
}
.side_close.on {
    width: 30px;
}
.side_close::before, .side_close::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 2px;
    transform: rotate(0deg);
    transition: transform 0.4s 0s;
    box-shadow: 0 0 2px #999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.side_close.on::before {
    transform: rotate(45deg);
    transition-delay: 1.2s;
}
.side_close.on::after {
    transform: rotate(-45deg);
    transition-delay: 1.2s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
/* ###################### aside_menu 영역 : 끝 ###################### */

/* ###################### 헤더 영역: 시작 ###################### */
.layout_header {
    position: relative;
    z-index: 200;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    /* height: 522px; */
    width: auto;
}
/* 상단 팝업 영역: 시작 */
.bn_top {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 1.2em;
    line-height: 38px; /* 40px 정확히 맞지 않아 수정함*/
    text-align: center;
    background-color: #71a200;
}
.bn_top a {
    position: relative;
    display: block;
    width: 1260px;
    color: #fff;
    margin: 0 auto;
}
@media only screen and (max-width: 1260px) {
    .bn_top a {
        position: relative;
        display: block;
        width: 100%;
        color: #fff;
        margin: 0 auto;
    }
}
.bn_top a p {
    width: 100%;
    color: #fff;
    display: block;
}
.bn_top a p span {
    position: relative;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    margin: 0 0 0 10px;
}
.bn_top a p span::before {
    position: absolute;
    content: "";
    display: block;
    top: 5px;
    width: 9px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
}
.bn_top a p span::after {
    position: absolute;
    content: "";
    display: block;
    top: 11px;
    width: 9px;
    height: 1px;
    background-color: #fff;
    transform: rotate(-45deg);
}
.bn_top button {
    border: none;
    border-radius: 2px;
}
.bn_top p button {
    position: absolute;
    display: inline-block;
    right: 0%;
    top: 50%;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    transform: translateY(-50%);
}
.bn_top p button::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    width: 15px;
    height: 1px;
    background-color: #eee;
    transform: rotate(45deg) translateY(-50%);
}
.bn_top p button::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    width: 15px;
    height: 1px;
    background-color: #eee;
    transform: rotate(-45deg) translateY(-50%);
}
/* 상단 팝업 영역: 끝 */

/* 플로팅 배너 영역: 시작 */
.layout_header .util_wrap {
    height: 0px;
}
.util_wrap a {
    color: #949494;
}
.util_wrap .resp_wrap {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.wing_area {
    position: absolute;
}
.left_wing_area {
    left: -90px;
    width: 90px;
    height: 155px;
}
.left_wing_area img {
    width: 90px;
    height: 155px;
}
.util_wrap img {
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}
.right_wing_area {
    display: none;
    right: -125px;
    width: 125px;
    height: 125px;
}
/* 플로팅 배너 영역: 끝 */

/* 햄버거 메뉴 영역: 시작 */
.layout_header .logo_wrap .resp_wrap {
    position: relative;
}
.resp_top_hamburger {
    position: absolute;
    left: 51px;
    top: 50%;
    margin-top: -15px;
}
.resp_top_hamburger a {
    color: #444;
    text-decoration: none;
    border: none;
    outline: none;
}
.resp_top_hamburger > a {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
}
.resp_top_hamburger > a > b,
.resp_top_hamburger > a:before, 
.resp_top_hamburger > a:after {
    display: block;
    font-size: 0;
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    width: 100%;
    background: #555;
}
.resp_top_hamburger > a:before {
    top: calc(50% - 1px);
    transform: translateY(-10px) rotate(0deg);
    transition: transform 0.2s, width 0.2s 0.2s, right 0.2s 0.2s;
}
.resp_top_hamburger > a > b {
    overflow: hidden;
    text-indent: -9999px;
    top: calc(50% - 1px);
}
.resp_top_hamburger > a > h2 {
    position: absolute;
    left: 30px;
    width: 80px;
    font-size: 18px;
    display: block;
    color: #555;
    margin-top: 0;
    padding-left: 12px;
    font-weight: normal;
}
.resp_top_hamburger > a:after {
    top: calc(50% - 1px);
    transform: translateY(10px) rotate(0deg);
    transition: transform 0.2s, width 0.2s 0.2s, right 0.2s 0.2s;
}
.resp_top_hamburger > a {
    display: block;
    width: 30px;
    height: 22px;
    transition: all 600ms;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
}
.resp_top_hamburger > a > b {
    overflow: hidden;
    text-indent: -9999px;
    top: calc(50% - 1px);
}
.resp_top_hamburger > a > h2 {
    position: absolute;
    left: 30px;
    width: 80px;
    font-size: 18px;
    display: block;
    color: #555;
    margin-top: 0;
    padding-left: 12px;
}
.resp_top_hamburger > a > b,
.resp_top_hamburger > a::before, 
.resp_top_hamburger > a::after {
    display: block;
    font-size: 0;
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    width: 100%;
    background: #555;
}
.resp_top_hamburger > a::after {
    top: calc(50% - 1px);
    transform: translateY(10px) rotate(0deg);
    transition: transform 0.2s, width 0.2s 0.2s, right 0.2s 0.2s;
}
.resp_top_hamburger > a.on::before {
    position: absolute;
    right: -3px;
    top: 5px;
    width: 15px;
    height: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.resp_top_hamburger > a.on::after {
    width: 15px;
    height: 2px;
    right: -3px;
    top: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
@media only screen and (max-width: 1023px) {
    .resp_top_hamburger {
        left: 10px;
        margin-top: -12px;
    }
}
/* 햄버거 메뉴 영역: 끝 */

/* 헤더 로고 영역: 시작 */
.layout_header .logo_wrap {
    zoom: 1;
}
.layout_header .logo_wrap:after {
    display: block;
    content: "";
    clear: both;
}
.logo_wrap .resp_wrap {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: content-box;
}
.layout_header .logo_wrap .logo_area {
    display: table;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.layout_header .logo_wrap .logo_area > a {
    position: relative;
    display: block;
    height: 148px;
    width: 20%;
    margin: 0 auto;
    vertical-align: middle;
}
.layout_header .logo_wrap .logo_area img {
    max-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img {
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}
/* 헤더 로고 영역: 끝 */
    
/* 헤더 슬라이드 배너 영역 */
.gnb_bnr_slide_02 .slider_gon {
    display: table-cell;
    vertical-align: middle;
}
.gnb_bnr_slide_02 .slider_gon > div {
    position: relative;
}
.gnb_bnr_slide_02 .slick-slider .slick-prev {
    margin-top: 1px;
    background-image: url(../images/header_logo/btn_slide_s_bottom.png);
}
.gnb_bnr_slide_02 .slick-slider .slick-next {
    margin-top: -22px;
    background-image: url(../images/header_logo/btn_slide_s_top.png);
}
.slick-next {
    right: 20px;
    background-image: url(../images/header_logo/arrow_right.gif);
    background-position: 58% center;
}
.gnb_bnr_slide_02 .slick-slider .slick-arrow {
    position: absolute;
    top: 0;
    left: auto;
    right: -23px;
    top: 50%;
    width: 21px;
    height: 21px;
    border-radius: 2px;
    background-color: #eee;
    background-position: 50% 50%;
    background-size: auto;
    opacity: 0.5;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
    overflow: hidden;
}
.slick-track:after {
    clear: both;
}
.slick-slide img {
    display: inline;
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}






@media only screen and (max-width: 1023px) {
    .gnb_bnr_slide {
        display: none;
    }
}


/* //헤더 슬라이드 배너 영역 */

/* 헤더 검색 영역 */
.resp_top_search {
    position: absolute;
    right: 40px;
    top: -40px;
    z-index: 200;
}
@media only screen and (max-width: 1023px) {
    .resp_top_search {
        right: 10px;
        top: 50%;
        margin-top: -21px;
    }
}
@media only screen and (max-width: 1023px) {
    .resp_top_search a.btn_search_open {
        height: 27px;
        margin-top: 6px;
        display: block;
    }
}
.resp_top_search a.btn_search_open {
    background: url(../images/header_nav/icon_search.svg) 50% 50% no-repeat;
    background-size: contain;
    display: none;
}
@media only screen and (max-width: 1023px) {
    .resp_top_search a.btn_search_open {
        width: 26px;
        height: 26px;
        margin-top: 7px;
        background-size: 100%;
    }
}
.resp_top_search a.btn_search_open {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 9px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/header_nav/btn_zoom.png) 50% 50% no-repeat;
    background-size: contain;
}   

/* 카테고리 메뉴 영역: 시작 */
.layout_header .nav_wrap {
    border-top: 1px #f0f0f0 solid;
}
.nav_wrap .resp_wrap {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: content-box;
}
@media only screen and (max-width: 1023px) {
    .layout_header .nav_wrap .resp_wrap {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 1279px) {
    .layout_header #cateSwiper .designCategoryNavigation {
        overflow: unset;
    }
}
@media only screen and (max-width: 1279px) {
    .layout_header #cateSwiper .designCategoryNavigation {
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
}
@media only screen and (max-width: 1279px) {
    .layout_header .nav_wrap .nav_category_area {
        position: static;
        top: auto;
        right: auto;
        width: 100%;
    }
}
@media only screen and (max-width: 1023px) {
    .layout_header #cateSwiper .designCategoryNavigation {
        overflow-y: visible;
        overflow-x: clip;
    }
}


@media only screen and (max-width: 1279px) {
    .layout_header #cateSwiper .designCategoryNavigation .respCategoryList {
        position: relative;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }
}
@media only screen and (max-width: 1279px) {
    .layout_header #cateSwiper .designCategoryNavigation .respCategoryList>li {
        width: auto;
        transform-style: preserve-3d;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 1023px) {
    .layout_header .nav_wrap .respCategoryList>li:nth-last-child(-n+3) {
        display: none !important;
    }
}
.nav_wrap .resp_wrap:after {
    display: block;
    content: "";
    clear: both;
}
.layout_header .nav_wrap .resp_wrap {
    position: relative;
}
.layout_header .nav_wrap .respCategoryList {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    table-layout: inherit;
}

.layout_header .nav_wrap .respCategoryList > li:first-child .categoryDepthLink {
    padding-left: 10px;
}
.layout_header .nav_wrap .respCategoryList .categoryDepthLink {
    padding: 0px 14px;
}
.layout_header .nav_wrap .respCategoryList > li {
    display: inherit;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
em {
    font-weight: normal;
    font-style: normal;
}
.layout_header .nav_wrap .respCategoryList .categoryDepthLink > em {
    display: inline-block;
    height: 49px;
    position: relative;
}
.custom_nav_link .categoryDepthLink em {
    color: #71a200 !important;
}
.layout_header .nav_wrap .respCategoryList .categoryDepthLink {
    display: block;
    height: 50px;
    font-size: 15px;
    line-height: 51px;
    font-weight: 400;
    color: #333;
}
.layout_header .nav_wrap .respCategoryList .categoryDepthLink > em:after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0px;
    padding-top: 1px;
    background: #444;
    transition: all .2s;
    content: "";
}

/* 택배특가 위 46% 할인 */
.nav_comment {
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    z-index: 999;
    text-align: center;
}
.nav_comment span {
    border-radius: 999px;
    background-color: #44A1DD;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    padding: 2px 6px;
}
.nav_comment span::after {
    border-top: 5px solid #44A1DD;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 17px;
    right: 36px;
}
.nav_comment_diy span {
    background-color: #FBCA17;
    color: #000;
    padding: 2px 10px;
}
.nav_comment_diy span::after {
    border-top: 5px solid #FBCA17;
    right: 30px;
}
/* EVENT, MAGAZINE 메뉴 */
.layout_header .nav_wrap .respCategoryList .custom_nav_link {
    text-align: right;
}
.layout_header .nav_wrap .respCategoryList > li {
    display: inherit;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.custom_nav_link .categoryDepthLink {
    color: #71a200 !important;
}
/* 오른쪽 아이콘 메뉴*/
.nav_wrap .respCategoryList > li:nth-last-child(-n+3):not(:last-child) {
    margin-right: 5px;
}
.nav_wrap .respCategoryList>li:nth-last-child(3) {
    margin-left: auto;
}
.nav_wrap .respCategoryList .categoryDepth1 .top_menu_myinfo {
    height: 40px;
    width: 40px;
    background: url(../images/header_logo/icon_myinfo.svg) center no-repeat;
}
.nav_wrap .respCategoryList .categoryDepth1 .top_menu_cart {
    height: 40px;
    width: 40px;
    background: url(../images/header_logo/icon_cart.svg) 1px 56% no-repeat;
}
.cart_cnt2 {
    position: absolute;
    margin-top: 0;
    right: 0px;
}
.cart_cnt2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    text-align: center;
    height: 20px;
    padding: 0 5px;
    min-width: 10px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 21px;
    font-weight: 300;
    background: #71a200 !important;
    color: #ffffff !important;
}
.nav_wrap .respCategoryList .categoryDepth1 .top_menu_search {
    height: 40px;
    width: 40px;
    background: url(../images/header_logo/icon_search.svg) center no-repeat;
}

.layout_header .resp_top_cart {
    background: url(../images/header_logo/icon_cart.svg) 0 center no-repeat;
    background-size: 29px;
}

.logo_wrap .resp_wrap {
    position: relative;
}
.layout_header .resp_top_cart {
    position: absolute;
    right: 40px;
    top: 50%;
    height: 34px;
    margin-top: -17px;
    padding-left: 20px;
}
@media only screen and (max-width: 1023px) {
    .layout_header .resp_top_cart {
        display: block;
    }
}
.resp_top_cart .cart_cnt2 {
    background: #71a200 !important;
    color: #ffffff !important;
}
@media only screen and (max-width: 1023px) {
    .logo_wrap .resp_wrap {
        padding-top: 20px;
        padding-bottom: 15px;
    }
}
@media only screen and (max-width: 1023px) {
    .logo_wrap .resp_wrap {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.logo_wrap .resp_wrap {
    position: relative;
}
.resp_top_search .search_ver2.on {
    opacity: 1;
    display: block;
    height: auto;
    overflow: visible;
    transform: translateX(0);
}
@media only screen and (max-width: 1023px) {
    .resp_top_search {
        right: 10px;
        top: 50%;
        margin-top: -21px;
    }
}
.resp_top_search {
    position: absolute;
    z-index: 200;
}
.search_new .input_area {
    text-align: right;
    font-size: 0;
    line-height: 0;
}
.resp_top_search .search_ver2 .search_new {
    position: absolute;
    right: 0;
    top: 0;
}
.search_new form {
    clear: both;
}
.resp_top_search .search_ver2 .search_new .input_area {
    text-align: right;
    font-size: 0;
    line-height: 0;
}
.search_new .input_area .cont {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding: 0 6px 0 0;
    margin: 0;
    border: 1px #767676 solid;
    background: #fff;
    border-radius: 2px;
}
.input_area .search_box {
    display: inline-block;
    height: 100%;
    width: 230px;
    cursor: text;
    text-align: left;
    margin-right: 10px;
}
.search_new .input_area {
    text-align: right;
    font-size: 0;
    line-height: 0;
}
.input_area .cont {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding: 0 6px 0 0;
    margin: 0;
    border: 1px #767676 solid;
    background: #fff;
    border-radius: 2px;
}
.input_area .search_box {
    display: inline-block;
    height: 100%;
    width: 230px;
    cursor: text;
    text-align: left;
    margin-right: 10px;
}
.search_new input[type='text'] {
    border: none;
    background: transparent;
}


.resp_top_search .search_ver2 .search_new .input_area button.search {
    width: 20px;
    height: 20px;
    border: none;
    background: url(../images/header_nav/btn_zoom.png) 50% 50% no-repeat;
    background-size: contain;
}
.input_area .search_box > input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    vertical-align: middle;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number] {
    box-sizing: border-box;
    padding: 0 9px;
    width: 180px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    color: #333;
    border: 1px #ccc solid;
    border-radius: 2px;
}

button[type=submit] {
    outline: none;
    filter: chroma(color=#000000);
}
.resp_top_search .search_ver2.on {
    opacity: 1;
    display: block;
    height: auto;
    overflow: visible;
    transform: translateX(0);
}
.resp_top_search .search_ver2 {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 1px;
    overflow: hidden;
    transform: translateX(-10px);
    transition: all 0.4s;
}
.input_area .search {
    width: 20px;
    height: 20px;
    border: none;
    background: url(../images/header_nav/btn_zoom.png) 50% 50% no-repeat;
    background-size: contain;
}
.input_area .close {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: none;
    background: url(../images/header_nav/icon_close_gray2.png) 50% 50% no-repeat;
}
.resp_top_search button {
    vertical-align: middle;
}



/* ###################### 헤더 영역: 끝 ###################### */


/* ###################### 바디 영역: 시작 ###################### */
#layout_body {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
}
/* 슬라이드 영역: 시작 */
.main_visual {
    width: 100%;
    max-width: 1920px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
}
.slick-slider {
    height: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}
.slick-slider .slick-arrow {
    opacity: 1;
}
.slides {
    height: 100%;
}
.main_visual .slick-prev {
    display: block;
    left: 20px;
    background-image: url(../images/slider/arrow_left.gif);
    background-position: 42% center;
}
.main_visual .slick-next {
    right: 20px;
    background-image: url(../images/slider/arrow_right.gif);
    background-position: 58% center;
}
.slides .slick-arrow {
    position: absolute;
    top: calc( 50% - 2px );
    z-index: 20;
    overflow: hidden;
    text-indent: -999px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 30%;
    outline: none;
    transition: all 0.4s;
}
.slides .slick-list {
    z-index: 1;
    height: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    height: 100%;
}
.visual-wrap {
    width: 1902px;
    height: 100%;
}
.slick-initialized .slick-slide {
    display: block;
    overflow: hidden;
}
.visual a {
    display: block;
    width: 100%;
    height: 100%;
}
.visual_pc {
    display: block;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-slide img {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual-wrap {
    width: 100%;
    height: 100%;
}
.slick-slide {
    display: none;
    float: left;
    /* height: 100%; */
    min-height: 1px;
}
.visual a {
    display: block;
    width: 100%;
    height: 100%;
}
.visual-pc {
    display: none;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.visual-m {
    display: none;
    width: 100%;
    height: 100%;
}
.visual-m img {
    width: 100%;
    height: 100%;
}
.slick-dots {
    position: absolute;
    z-index: 20;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 0;
}
.slick-dots > li {
    display: inline-block;
    padding: 0 3px;
}
.slick-dots > li.slick-active {
    width: 40px;
}
.slick-dots > li.slick-active > button {
    width: 40px;
    background: #000;
    box-shadow: 0 0 3px #fff;
}
.slick-dots > li > button {
    box-sizing: border-box;
    width: 16px;
    height: 8px;
    background: #fff;
    overflow: hidden;
    text-indent: -999px;
    border-radius: 4px;
    opacity: 0.6;
    transition: width 0.2s;
    box-shadow: 0 0 3px #767676;
    outline: none;
}
/* 슬라이드 영역: 끝 */

/* 테마 콘텐츠 영역: 시작 */
.theme_content {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 30px;
}
.theme_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
}
/* 테마 콘텐츠 영역: 끝 */





/* ###################### 바디 영역: 끝 ###################### */





/* ###################### 푸터 영역: 시작 ###################### */
#footer .resp_wrap {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.footer_banner {
    width: 1260px;
    margin: 60px auto 0;
}
.footer_banner > ul {
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.footer_banner_subscription {
    width: 50%;
    height: 100%;
    background: url(../images/footer/bg_banner_footer_subscribex2.jpg) center/cover no-repeat;
}
.footer_banner_subscription:first-child {
    margin: 0 2% 0 0;
}
.footer_banner_subscription h3,
.footer_banner_delivery h3 {
    padding: 38px 30px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2em;
    color: #222;
}
.footer_banner_delivery  {
    width: 50%;
    height: 100%;
    background: url(../images/footer/bg_banner_footer_deliveryx2.jpg) center/cover no-repeat;
}
/* footer_b */
.footer_b {
    border-top: 1px #ddd solid;
    text-align: center;
    padding: 0 0 20px;
}
.footer_b .menu1 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    vertical-align: inherit;
    margin-left: 0;
    font-size: 1em;
    line-height: 1.2;
}
.footer_b .menu1 > li {
    display: inline-block;
    box-sizing: border-box;
    width: 35%;
    min-width: inherit;
    max-width: inherit;
    vertical-align: top;
    padding-top: 40px;
    padding-left: 0;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    color: #767676;
}
.footer_b .menu1 > li:last-child {
    width: 30%;
}
.menu_cs .title {
    font-size: 1.3em;
    line-height: 1.3;
    font-weight: 700;
    color: #333;
    padding-bottom: 10px;
}
.menu_cs .comp_phone h3 {
    color: #71a200;
    display: inline-block;
    padding-bottom: 4px;
}
.comp_kakao h4 {
    padding-bottom: 10px;   
}
.menu_bank h5 {
    padding-bottom: 10px;
}
.menu_bank p {
    padding: 0;
    margin: 0;
}
.menu_sns h4 {
    padding-bottom: 10px;
}
.comp_date span, .comp_chat span, .comp_foreign span {
    font-size: 1.0em;
    color: #71a200;
}
.menu_sns > ul {
    display: flex;
}
.menu_sns > ul > li {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 15px 10px 0;
    padding-left: 0px;
    text-indent: inherit;
}
.menu_sns img {
    width: 100%;
    height: 100%;
}
.menu1 .associate {
    width: 358px;
    height: 113px;
    background: url(../images/footer/associate.png) no-repeat center;
    background-size: cover;
    margin: 40px 0 0 0;
    padding: 5%;
}
.footer_menconet {
    margin-top: 30px;
    font-size: 1.3em;
    line-height: 1.3;
    font-weight: 700;
    color: #333;
    padding-bottom: 10px;
}
.comp_kakao {
    margin-top: 30px;
}
/* footer_c */
.footer_c {
    border-top: 0px #eee solid;
    padding: 20px 0;
}
.footer_c .resp_wrap > ul > i {
    display: block;
    width: 2px;
    height: 2px;
    background-color: #666;
}
.footer_c .list {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 0 20px 0;
    color: #555;
    font-size: 1.2em;
}
.mark {
    padding: 0px 0 20px;
    margin: 30px 0 10px;
    border-top: 1px solid #dddddd;
    text-align: center;
}
/* //footer_c */

/* footer_cert */
.layout_footer {
    margin-top: 60px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: #767676;
}
.footer_cert {
    padding: 0px 0 20px;
    margin: 30px 0 10px;
    border-top: 1px solid #dddddd;
    text-align: center;
}
/* footer_cert .slick_track */
.footer_cert .slick_track {
    width: 1260px;
    height: 90px;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* slick_slide */
.footer_cert .slick_slide {
    width: 315px;
    display: block;
    overflow: hidden;
    float: left;
    width: auto;
    margin-top: 20px;
}
.footer_cert .slick_slide:first-child a {
    justify-content: flex-start;
}
.footer_cert .slick_slide:last-child a {
    justify-content: flex-end;
}
.footer_cert .slick_slide > a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 50px;
}
.footer_cert .slick_slide a p {
    display: inline-block;
    padding: 0 0 0 15px;
    text-align: left;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.3em;
    color: #444;
}
.footer_cert .slick_slide a span {
    display: block;
    font-size: 0.60rem;
    font-weight: normal;
}
#footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* ###################### 푸터 영역: 끝 ###################### */

/* ###################### 회원가입 페이지 영역: 시작 ###################### */
.hide {
    display: none;
}
.userid_container {
    position: relative;
}
.message_box {
    position: absolute;
    left: 15px;
    top: 45px;
}
.password_container {
    position: relative;
}
.strongPassword-message {
    position: absolute;
    left: 15px;
    top: 45px;
}
.userpass_check_container {
    position: relative;
}
.mismatch-message {
    position: absolute;
    left: 15px;
    top: 45px;
}
.match-message {
    position: absolute;
    left: 15px;
    top: 45px;
}
/* ###################### 회원가입 페이지 영역: 끝 ###################### */


/* ###################### 꽃선물 페이지 영역: 시작 ###################### */
.catalog_content_list {
    width: 1260px;
    margin: 0 auto;
}
.catalog_content {
    width: 100%;
}
/* catalog_title */
.catalog_title {
    width: 1200px;
    border-bottom: #ECECEC 1px solid;
    margin: 0 auto;
    padding: 14px 0 10px;
    overflow: hidden;
    box-sizing: content-box;
}
.catalog_title > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.catalog_title > ul > li {
    padding: 5px 5px;
    color: #888;
    border-bottom: 2px solid transparent;
    margin: 0 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}
.catalog_title > ul > li:last-child {
    margin-left: auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.catalog_title > ul > li:last-child  p {
    font-size: 14px;
    color: #888;
    background-color: #FFF;
    border: 1px solid #cccccc;
    border-radius: 999px;
    padding: 5px 15px;
    font-weight: normal;
}
/* //catalog_title */
.catalog_content_top_html > div {
    word-break: keep-all;
    padding-right: 150px;
}
.catalog_content_subtitle_container {
    padding-right: 150px;
}
/* catalog_content */
.catalog_content {
    padding: 40px 0;
}
.catalog_content_top {
    text-align: center;
    padding: 0;
}
.catalog_content_top_html {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4em;
    color: #000000;
    padding: 0 0 10px;
}
/* catalog_subtitle */
.catalog_content_subtitle, .search_filter_wrap .catalog_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
/* //catalog_subtitle */

.catalog_content_subtitle > li.on a {
    color: #FFFFFF;
    background-color: #71A200;
}
.catalog_content_subtitle > li > a {
    display: inline-block;
    margin: 0 4px;
    padding: 10px 20px;
    color: #444444;
    cursor: pointer;
    border-radius: 999px;
    background-color: #eef0f2;
    font-size: 14px;
    font-weight: 400;
}
.catalog_content_subtitle > li > a:hover {
    color: #71A200;
}
.goods_list {
    vertical-align: top;
    margin-right: 40px;
}
.resp_display_goods_info {
    padding: 3px 0;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 400;
    color: #767676;
}
.gl_item {
    width: 300px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
}
.gl_image img {
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}
.display_goods_name {
    font-size: 15px;
    line-height: 1.4;
    color: #444;
}
.display_sales_price .area span {
    color: #71A200;
}
.display_sales_price .area .won {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -1px;
}

/* catalog_content_bottom */
.catalog_content_bottom {
    color: #000000;
    text-align: center;
    margin: 25px 0;
}
.catalog_content_bottom > a {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #1C1C1C;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}
.catalog_content_bottom img {
    content: url(../images/page_present/icon_arrow.png);
    height: 18px;
    margin: -2px 0 0 12px;
}
/* //catalog_content_bottom */

/* catalog_content_top */
.catalog_content_top {
    text-align: center;
    padding: 0;
}
.catalog_content_top .eventday_pc {
    margin-bottom: 10px;
    display: block;
}
.eventday_pc img {
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}
/* //catalog_content_top */
.info_group .goodS_info {
    display: inline-block;
    margin-right: 8px;
}
.display_consumer_price .area {
    color: #999;
}
.display_consumer_price {
    text-decoration: line-through;
    color: #999;
}
.goodS_info {
    padding: 3px 0;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 400;
    color: #767676;
}
.display_sales_percent span {
    color: #71a200 !important;
}
.displaY_sales_percent .num {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -1px;
}
/* ###################### 꽃선물 페이지 영역: 시작 ###################### */

/* ###################### 마이 페이지 영역: 시작 ###################### */
header {
    position: relative;
}
.subpage_container .btn_sub_all {
    display: none;
    position: absolute;
    left: -10px;
    top: 265px;
    z-index: 20;
    padding: 0 20px 0 10px;
    height: 40px;
    line-height: 41px;
    font-weight: 300;
    background: #9c9c9c;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url(../images/mypage/icon_arr_next3.png);
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}
@media only screen and (max-width: 1023px) {
    .subpage_container .btn_sub_all {
            display: block;
            transition: left 0.5s;
        }
    }
.subpage_wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
}
/* 상단 개인 정보 */
.subpage_wrap .subpage_lnb {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    padding: 0 20px 40px 0;
    background: #fff;
}
.subpage_container {
    display: block;
    padding: 40px 0 40px;
}
.subpage_lnb .title1 {
    padding: 60px 0 0 0;
    height: 130px;
}
.subpage_lnb .title1 > a {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.subpage_lnb .title1 + .title2 {
    margin-top: 0;
}
.subpage_lnb .title2 + .lnb_sub {
    padding-top: 8px;
}
.subpage_lnb .title2 {
    margin-top: 20px;
    border-bottom: 1px #eee solid;
    border-radius: 2px;
}
.subpage_lnb .title2 > a {
    display: block;
    padding: 10px 0 6px 10px;
    font-size: 19px;
    line-height: 1.3;
    font-weight: 300;
    color: #333;
}
.subpage_lnb .lnb_sub > li > a {
    display: block;
    padding: 4px 0 4px 10px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: #767676;
    transition: transform 0.2s;
}
.my_index_top {
    display: table;
    width: 100%;
}
.my_index_top > li {
    display: table-cell;
    vertical-align: top;
}
.mycs_fcont_margin {
    margin-top: 30px;
}
.my_index_top .my_greeting {
    font-size: 34px;
    font-weight: 100;
    line-height: 1.0;
    color: #666;
}
.my_index_top img {
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}
.my_index_top .my_greeting .name {
    font-weight: 300;
    color: #333;
}
.my_index_top .my_greeting {
    font-size: 34px;
    font-weight: 100;
    line-height: 1.0;
    color: #666;
}
.my_index_top .my_msub1 {
    padding-top: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}
.my_index_top .my_msub1 > li {
    float: left;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}
.my_index_top .my_msub1 span {
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}
.my_index_top .my_msub1 > li:after {
    display: inline-block;
    content: '|';
    font-weight: 100;
    color: #ccc;
    margin-left: 10px;
}
.my_index_top .my_msub1 > li:last-child {
    padding-right: 0;
}
.my_index_top .my_msub1 a {
    color: #767676;
}
.my_index_top .my_msub2 {
    font-size: 0;
    text-align: right;
    margin-top: -10px;
}
.my_index_top .my_msub2 > li:first-child {
    border-left: none;
}
.my_index_top .my_msub2 > li {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    border-left: 1px #ccc solid;
}
.my_index_top .my_msub2 > li >a {
    min-width: 100px;
}
.my_index_top .my_msub2 > li > a {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 0 10px;
    min-width: 120px;
}
.my_index_top .my_msub2 .title {
    display: block;
}
.my_index_top .my_msub2 .num {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.0;
    color: #333;
}
/* 최근 주문 내역 */
.Pb0 {
    padding-bottom: 0 !important;
}
.Mt80 {
    margin-top: 80px !important;
}
.Bbx {
    border-bottom: none !important;
}
.title_container2 {
    margin-top: 60px;
    padding: 0 0 12px;
    text-align: center;
    position: relative;
    border-bottom: 2px #333 solid;
}
.title_sub6 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    color: #333;
    text-align: left;
}
.title_container2 .btn_thebogi {
    display: inline-block;
    padding-right: 12px;
    position: absolute;
    right: 0;
    top: 10px;
    font-weight: 300;
    background: url(../images/common/ico_arw_direct.png) right 3px no-repeat;
    background-size: 7px;
}
.title_container2 a {
    color: #444;
    text-decoration: none;
    border: none;
    outline: none;
}
/* 최근 반품 정보 */
.mt30 {
    margin-top: 30px !important;
}
.gray_06 {
    color: #999 !important;
}
.Dib {
    display: inline-block;
    color: #999 !important;
}
.hand, .pointer {
    cursor: pointer;
}
.mypage_list_sec0 {
    display: table;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
    font-size: 13px;
    color: #333;
    border-top: 1px #ddd solid;
    border-left: 1px #ddd solid;
}
.mypage_list_sec0 > ul {
    display: table-row;
    font-size: 14px;
}
.mypage_list_sec0 > ul > li {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px #ddd solid;
    border-right: 1px #eee solid;
}
.mypage_list_sec0 > ul > li.th {
    width: 110px;
    padding: 0;
}
.mypage_list_sec0 > ul > li.th > p {
    padding: 10px;
}
.my_order_step {
    height: 130px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 25px;
    max-width: 1000px;
    text-align: center;
}
.my_order_step > li:first-child {
    width: 16%;
    background: none;
    padding-left: 0;
}
.my_order_step > li {
    float: left;
    width: 21%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 13px;
    background: url(../images/mypage/my_order_arw2.png) 0 40% no-repeat;
}
.my_order_step > li > a {
    display: block;
    position: relative;
    color: #333;
}
.my_order_step > li > a span {
    display: inline-block;
    font-size: 13px;
    color: #333;
}
.my_order_step > li.step3 > a span {
    margin-left: 3px;
}
.my_order_step > li.step5 > a span {
    margin-left: 10px; 
}
.my_order_step > li.step1 > a:before {
    background-image: url(../images/mypage/my_order_p1.png);
}
.my_order_step > li.step2 > a:before {
    background-image: url(../images/mypage/my_order_p2.png);
}
.my_order_step > li.step3 > a:before {
    background-image: url(../images/mypage/my_order_p3.png);
}
.my_order_step > li.step4 > a:before {
    background-image: url(../images/mypage/my_order_p4.png);
}
.my_order_step > li.step5 > a:before {
    background-image: url(../images/mypage/my_order_p5.png);
}
.my_order_step > li > a:before {
    display: block;
    content: '';
    height: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
    transition: opacity 0.2s;
}
.no_data_area2 {
    padding: 130px 5px 32px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border: 1px #ddd solid;
    background: url(../images/mypage/nodata.png) 50% 40px no-repeat;
    background-size: 68px;
    border-radius: 4px;
}
/* ###################### 마이 페이지 영역: 끝 ###################### */
