{% extends 'layout.html' %}

{% block content %}
    <div id="wrap_cart" class="mt-5 mb-5">
        <div class="text-left">
            <h1 style="width: 170px; height: 60px;" class="border-bottom mb-4 text-center">장바구니</h1>
        </div>
        <div class="cart_container container">
            <div class="nodata">
                <img src="../images/nodata.png" alt="nodata">
                <p class="nodata_txt">장바구니에 담긴 물건이 없습니다.</p>
            </div>  
        </div>
    </div>
    <!-- //wrap -->
{% endblock %}








{% block indexScript %}
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>

</script>
{% endblock %}