{% extends '../layout.html' %}

{% block style %}
    <link rel="stylesheet" href="../../css/user/create.css">
{% endblock %}

{% block content %}
<div id="layout_body" class="layout_body">
  <div class="title_container">
    <h2>
      <span>회원가입</span>
    </h2>
  </div>
  <p class="mypage_greeting gray_06">
    회원이 되셔서 할인쿠폰/적립금 등 다양한 서비스를 받으세요.
  </p>

  <div class="resp_login_wrap">
  <!-- 탭 -->
  <div id="memberSelect" class="tab_basic fullsize">
    <ul>
      <li class="on">
        <a href="javascript:void(0)">
          <span>개인회원</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span>사업자회원</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sub_page_tab_contents" style="display: block;">
    <p class="join_btns">
      <button type="button" class="btn_resp size_c color2 Wmax" onclick="document.location.href='agree'">
        <span>회원가입</span>
      </button>
    </p>

    <h3 class="title_sub3 v3 Mt10">
      <span>또는 SNS 회원가입</span>
    </h3>
    <ul class="sns_login_ul">
      <li>
        <div class="img">
          <img src="../../images/sns_icons/sns_icon_kakao.png" title="카카오 회원가입">
        </div>
      </li>
      <li>
        <div class="img">
          <img src="../../images/sns_icons/sns_icon_naver.png" title="네이버 회원가입">
        </div>
      </li>
      <li>
        <div class="img">
          <img src="../../images/sns_icons/sns_icon_apple.png" title="애플 회원가입">
        </div>
      </li>
    </ul>
  </div>

  <div class="sub_page_tab_contents" style="display: none;">
    <p class="join_btns">
      <button type="button" class="btn_resp size_c color2 Wmax" onclick="document.location.href='agree'">
        <span>회원가입</span>
      </button>
    </p>

    <h3 class="title_sub3 v3 Mt10">
      <span>또는 SNS 회원가입</span>
    </h3>
    <ul class="sns_login_ul">
      <li>
        <div class="img">
          <img src="../../images/create/sns_icon_kakao.png" alt=" kakao 회원가입" title="카카오 회원가입">
        </div>
    </li>
      <li>
        <div class="img">
          <img src="../../images/create/sns_icon_naver.png" alt=" naver 회원가입" title="네이버 회원가입">
        </div>
      </li>
      <li>
        <div class="img">
          <img src="../../images/create/sns_icon_apple.png" alt=" apple 회원가입" title="애플 회원가입">
        </div>
      </li>
    </ul>
  </div>

  <h3 class="title_sub2 Mt50">
    <b class="Fw400">
      <span>신규회원을 위한 혜택을 놓치지 마세요!</span>
    </b>
  </h3>
  <div class="join_member_benefit_detail">
      <ul class="join_gate_coupon">
        <li>
          <span></span>
          <p>
            적립금 2,000원 <span>바로지급!</span>
          </p>
          <span></span>
        </li>
        <li>
          <span></span>
          <p>
            전 상품 7% <span>적립!</span>
          </p>
          <span></span>
        </li>
        <li>
          <span></span>
          <p>적림금 페이백 <span>[상품권·현금]</span></p>
          <span></span>
        </li>
      </ul>
  </div>
  </div>
</div>


{% endblock %}

{% block indexScript %}
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="../js/create.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    window.Kakao.init('5aaea0190cb95d8a6169d6ce269782ab');
    console.log(Kakao.isInitialized());

    //카카오로그인
    function kakaoLogin() {
    Kakao.Auth.login({
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
            console.log(response)
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
  //카카오로그아웃  
function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function (response) {
          console.log(response)
        },
        fail: function (error) {
          console.log(error)
        },
      })
      Kakao.Auth.setAccessToken(undefined)
    }
  }  

  
//회원가입 주소 Daum API 사용
function findAddr() {
            //팝업 위치를 지정(화면의 가운데 정렬)
            var width = 500; //팝업의 너비
            var height = 600; //팝업의 높이
    new daum.Postcode({
        oncomplete: function(data) {
            //사용자 주소를 받아올 변수를 정의.
            var addr = '';
          
            // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if(data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우(R)
                addr = data.roadAddress;
            }else { //사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }
            $("#zip_code").val(data.zonecode);
            $("#addr").val(addr);
            $("#addr_dtl").val("");
            $("#addr_dtl").focus();

        }
    }).open({
      left: (window.screen.width / 2) - (width / 2),
      top: (window.screen.height / 2) - (height / 2)
    });
}


// 탭 클릭시
$("#memberSelect li").each(function(i) {
  $(this).click(function() {
    $("#memberSelect li").removeClass("on");
    $(this).addClass("on");
    $(".sub_page_tab_contents").hide().eq(i).show();
  });
}).eq(0).click();




</script>
{% endblock %}
