{% extends 'layout.html' %}

{% block content %}
<div id="layout_body" class="layout_body">
    <div id="subpage_wrap" class="subpage_wrap">
        <div id="subpageLNB" class="subpage_lnb">
            <div id="mypageLnbBasic">
                <h2 class="title1"><a href="#">MY쇼핑</a></h2>
                <h3 class="title2"><a href="#">나의 쇼핑</a></h3>
                <ul class="lnb_sub">
                    <li><a href="#">주문/배송</a></li>
                    <li><a href="#">취소/환불</a></li>
                    <li><a href="#">워시리스트</a></li>
                    <li><a href="#">최근 본 상품</a></li>
                    <li><a href="#">배송주소록</a></li>
                    <li><a href="#">계산서</a></li>
                    <li><a href="#">개인결제</a></li>
                    <li><a href="#">구 주문완료 내역</a></li>
                </ul>
                <h3 class="title2"><a href="#">나의 구독</a></h3>
                <ul class="lnb_sub">
                    <li><a href="#">구독 관리</a></li>
                    <li><a href="#">구독 조회</a></li>
                </ul>
                <h3 class="title2"><a href="#">나의 혜택</a></h3>
                <ul class="lnb_sub">
                    <li><a href="#">적립금</a></li>
                    <li><a href="#">쿠폰</a></li>
                    <li><a href="#">예치금</a></li>
                </ul>
                <h3 class="title2"><a href="#">나의 활동</a></h3>
                <ul class="lnb_sub">
                    <li><a href="#">나의 1:1문의</a></li>
                    <li><a href="#">나의 상품문의</a></li>
                    <li><a href="#">나의 상품후기</a></li>
                </ul>
                <h3 class="title2"><a href="#">나의 정보</a></h3>
                <ul class="lnb_sub">
                    <li><a href="#">회원정보 수정</a></li>
                    <li><a href="#">회원탈퇴</a></li>
                </ul>
            </div>
        </div>
        <!-- //subpageLNB -->
        <!-- ++++ mypage_contents +++++ -->
        <div class="subpage_container">
            <!-- 전체 메뉴 -->
            <a id="subAllButton" class="btn_sub_all" href="javascript:void(0);">MENU</a>

            <ul class="my_index_top mycs_fcont_margin">
                <li>
                    <p class="my_greeting">
                        <img src="../../images/mypage/mypage.png" alt="face">
                        <span class="name">함민수</span>
                        <span>님</span>
                        <span class="Dib">반갑습니다.</span>
                    </p>
                    <ul class="my_msub1">
                        <li>
                            일반회원
                            <span>등급</span>
                        </li>
                        <li><a href="#">회원정보 수정</a></li>
                        <li><a href="/logout">로그아웃</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="my_msub2">
                        <li>
                            <a href="#">
                                <span class="title">적립금</span>
                                <span class="cont">
                                    <span class="num">2,000</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">쿠폰</span>
                                <span class="cont">
                                    <span class="num">0</span>장
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">워시리스트</span>
                                <span class="cont">
                                    <span class="num">0</span>개
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">최근 본 상품</span>
                                <span class="cont">
                                    <span class="num">0</span>개
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- 최근 주문 내역 -->
            <div class="title_container2 Bbx Pb0 Mt80">
                <h3 class="title_sub6">
                    <span>최근 주문 내역</span>
                </h3>
                <a href="#" class="btn_thebogi">전체조회</a>
            </div>
            <ul class="my_order_step">
                <li class="step1">
                    <a href="#">
                        <span>주문접수</span>
                    </a>
                </li>
                <li class="step2">
                    <a href="#">
                        <span>결제확인</span>
                    </a>
                </li>
                <li class="step3">
                    <a href="#">
                        <span>상품준비중</span>
                    </a>
                </li>
                <li class="step4">
                    <a href="#">
                        <span>배송중</span>
                    </a>
                </li>
                <li class="step5">
                    <a href="#">
                        <span>배송완료</span>
                    </a>
                </li>
            </ul>
            <!-- 최근 주문 상품 리스트 -->
            <div class="no_data_area2">최근 1개월내 내역이 없습니다.</div>

            <!-- 최근 반품 정보 -->
            <div class="mypage_list_sec0 mt30">
                <ul>
                    <li class="th hand">
                        <p>반품/교환</p>
                    </li>
                    <li class="td hand amount">
                        <span class="gray_06">
                            최근 1개월 내역이
                            <span class="Dib">없습니다.</span>
                        </span>
                    </li>
                    <li class="th hand">
                        <p>취소/환불</p>
                    </li>
                    <li class="td hand amount">
                        <span class="gray_06">
                            최근 1개월 내역이
                            <span class="Dib">없습니다.</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- //subpage_container -->
    <!-- ++++ mypage_contents +++++ -->
    </div>
    <!-- //mypage_wrap -->
</div>
<!-- //layout_body -->
{% endblock %}








{% block indexScript %}

<script>

</script>
{% endblock %}