
{% block style %}
    <link rel="stylesheet" href="../../css/footer/footer.css">
{% endblock %}

<div id="layout_footer" class="layout_footer">
	<div class="banner_footer">
		<ul class="banner_footer_subscribe">
			<li class="footer_subscribe">
				<a href="#">
					<h3>
						<b>꽃구독</b>을<br>
						<b>시작</b>하세요.
					</h3>
				</a>
			</li>
			<li class="footer_delivery">
				<a href="#">
					<h3>
						<b>오늘</b>주문<br>
						오늘<b>도착!</b>
					</h3>
				</a>
			</li>
		</ul>
	</div>
	<!-- 하단 배너 (정기구독 및 배송안내) 끝 -->
	<!-- footer_a -->
	<div class="footer_a">
		<div class="resp_wrap">
			<ul class="menu1">
				<li class="foot_menu_d1 cs">
					<h4 class="title">
                        <a href="#">
                            고객센터
                            <span class="title_sub">(연중무휴)</span>
                        </a>
                    </h4>
					<ul class="list v4">
						<li class="compay_phone">
							<a href="tel:010-9918-7545">
								1800-7879<span>(문자수신 가능)</span>
							</a>
						</li>
						<li>
                            <span>문자 전송시 지역번호를 제외한<br>대표번호로 보내주세요.</span>
                        </li>
						<li class="footer_date footer_date_first">
							<span>
								<table>
									<tbody><tr>
										<td>전화상담 |&nbsp;</td>
										<td>오전 8시 ~ 오후 8시</td>
									</tr>
								</tbody></table>
                            </span>
						</li>
						<li class="footer_date">
							<span>
								<table>
									<tbody><tr>
										<td>채팅상담 |&nbsp;</td>
										<td>월~토요일 오후 10시까지 </td>
									</tr>
									<tr>
										<td></td>
										<td>일요일 오후 8시까지</td>
									</tr>
								</tbody></table>
							</span>
						</li>
						<li class="order_foreign">
							<span>
								<table>
									<tbody><tr>
										<td>해외주문 |&nbsp;</td>
										<td>+82-70-7806-7050</td>
									</tr>
								</tbody></table>
							</span>
						</li>
						<li class="footer_kakao">
							<a href="http://pf.kakao.com/_Kyfxhl">
								<h4 class="title">
									카카오톡 문의
								</h4>
								<span>
									<i>
										<img src="../../images/template/footer/icon_kakao_CH.png" 
												alt="icon_kakao_CH">
									</i>
									꽃집청년들 | 오전 8시 ~ 오후 10시
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="foot_menu_d2 bank">
					<h4 class="title">
						<span>입금계좌 정보</span>
					</h4>
                    <ul class="list v3 gray_03">
                        <li>
                            <p>우리 &nbsp;:&nbsp; 1005-402-463003</p>
                        </li>
                        <li>
                            <p>농협 &nbsp;:&nbsp; 301-0149-4037-31</p>
                        </li>
                        <li>
                            <p>국민 &nbsp;:&nbsp; 464401-04-120835</p>
                        </li>
                        <li>
                            <p>기업 &nbsp;:&nbsp; 048-127650-01-016</p>
                        </li>
                        <li>
                            <p>
                                <span>예금주 :</span>
                                주식회사 청년들
                            </p>
                        </li>
                    </ul>
					<!-- Menconet 꽃집청년들 파트너스 -->
					<h4 class="title footer_menconet wide_only">
                        <span>Menconet</span>
                    </h4>
					<p class="menconet">
						<a href="http://menconet.com/" target="_blank">
							<i>
                                <img src="../../images/template/footer/icon_menconet.png" 
										alt="멘코넷 아이콘">
                            </i>
							꽃집청년들 파트너스 
                            <span></span>
						</a>
					</p>
					<!-- Menconet 꽃집청년들 파트너스 끝 -->
				</li>
				<li class="foot_menu_d5">
					<h4 class="title footer_sns wide_only">
                        <span >SNS</span>
                    </h4>
					<ul class="list v6">
						<li>
							<a href="https://story.kakao.com/07078067050" target="_blank">
								<img src="../../images/template/footer/icon_kakao.png" alt="카카오톡">
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/flower_youths/" target="_blank">
								<img src="../../images/template/footer/icon_instar.png" alt="인스타그램">
							</a>
						</li>
						<li>
							<a href="https://blog.naver.com/ripl10" target="_blank">
								<img src="../../images/template/footer/icon_blog.png" alt="블로그">
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/flowermen01" target="_blank">
								<img src="../../images/template/footer/icon_facebook.png" alt="페이스북">
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCorkJMb3TgAt3SHFKp9dYoA?view_as=subscriber" target="_blank">
								<img src="../../images/template/footer/icon_youtube.png" alt="유튜브">
							</a>
						</li>
					</ul>
					<section onclick="">
						<h4 class="title">기업제휴상담</h4>
						<p class="gray_03">제안 내용은 열린 마음으로<br>적극 검토합니다.</p>
					</section>
				</li>
			</ul>
		</div>
	</div>
    <!-- footer_c -->
	<div class="footer_c">
		<div class="resp_wrap">
			<ul class="list v5">
				<li><a href="#">공지사항</a></li>
				<i></i>
				<li><a href="#">꽃집청년들소개</a></li>
				<i></i>
				<li><a href="#">기업제휴</a></li>
				<i></i>
				<li><a href="#">이용약관</a></li>
				<i></i>
				<li><a href="#">개인정보처리방침</a></li>
			</ul>
			<ul class="menu3">
				<li>
					<span class="">(주)청년들</span>
					<span>대표이사 : <em class="">최고봉</em></span>
					<span>사업자등록번호 : <em class=""><a href="#" onclick="">105-88-00491</a></em></span>
					<span>통신판매신고번호 : <em class="">2019-서울금천-0909</em></span>
				</li>
				<li>
					<span>전화 : <a href="tel:010" class="">1800-7879</a></span>
					<span>팩스 : <em class="">02-6442-0106</em></span>
					<span>이메일 : <a class="" href="#">admin@mencoz.com</a></span>
					<span>제휴 및 제안 : <a class="" href="#">partners@mencoz.com</a></span>
				</li>
				<li>
					<span>주소 : <em class="">서울시 금천구 디지털로 121, 에이스가산타워 301호, 302호</em></span>
				</li>
				<p class="copyright">© 꽃집청년들 All rights reserved.</p>
			</ul>
			<ul class="footer_cert">
				<div class="slick-list">
                    <div class="slick-track" style="opacity: 1; width: 1260px;">
                        <li style="width: 315px;">
                            <a href="#">
                                <div>
                                    <img src="../../images/template/footer/footer_logo_iso.png" 
											alt="iso">
                                </div>
                                <p>
                                    품질/환경 경영시스템 ISO 인증
                                    <span>
                                        꽃배달 서비스, 화훼중개 플랫폼<br>
                                        개발 및 서비스 부문
                                    </span>
                                </p>
                            </a>
                        </li>
                        <li style="width: 315px;">
                            <a href="#" target="_blank">
                                <div>
                                    <img src="../../images/template/footer/footer_logo_main_biz.png" 
											alt="경영혁신형 중소기업 확인서 메인비즈(main-biz) 인증">
                                </div>
                                <p>
                                    경영혁신형 중소기업 확인서
                                    <span>
                                        마케팅과 조직혁신을 위한 노력으로<br>
                                        메인비즈(main-biz)인증을 받았습니다.
                                    </span>
                                </p>
                            </a>
                        </li>
                        <li style="width: 315px;">
                            <a href="#" target="_blank">
                                <div>
                                    <img src="../../images/template/footer/footer_logo_patent.png" 
											alt="patent">
                                </div>
                                <p>
                                    서비스표 특허청 등록
                                    <span>
                                        [꽃집청년들]은 상표법에 따라<br>
                                        서비스표등록원부에 등록되었습니다.
                                    </span>
                                </p>
                            </a>
                        </li>
                        <li style="width: 315px;">
                            <a>
                                <div>
                                    <img src="../../images/template/footer/footer_logo_escrow_toss.png" alt="toss">
                                </div>
                                <p>
                                    toss payments 매매보호(에스크로)서비스
                                    <span>
                                        TossPayments전자결제의 매매보호(에스크로)<br>
                                        서비스를 이용하실 수 있습니다.
                                    </span>
                                    <em>가입사실확인</em>
                                </p>
                            </a>
                        </li>
                    </div>
                </div>
			</ul>
		</div>
	</div>
</div>
