    <!-- ######### 팝업창 #########-->
    <div class="header_popup row">
        <div class="header_popup_txt">
            <a href="#">
                <p>회원가입시 2,000원 바로지급!
                    <span></span>
                    <button class="header_close"></button>
                </p>
            </a>
        </div>
    </div>
    <!-- ######### //팝업창 #########-->

    <!-- ######### float_banner #########-->
    <div class="float_banner">
        <ul>
            <li class="mb-3">
                <a href="#"><img src="../images/wing_banner_delivery.png" alt="wing_banner_delivery"></a>
            </li>
            <li>
                <a href="#"><img src="../images/wing_banner_paypal.png" alt="wing_banner_delivery"></a>
            </li>
        </ul>
    </div>
    <!-- ######### //float_banner #########-->

    <!-- ######### header  #########-->
    <header class="layout_header">
        <div class="container nav_top logo_wrap mt-5">
            <div class="row d-flex justify-content-between align-items-center text-center">
                <!-- 햄버거 메뉴 -->
                <div class="resp_top_hamburger">
                    <a href="javascript:void(0);" class="">
                        <b>aside menu</b>
                        <h2>전체상품</h2>
                    </a>
                </div>  
                <!-- //햄버거 메뉴 -->
                <div class="top_nav_img">
                    <a href="/"><img src="../images/header_logo/resp_logo_sample.png" alt="LOGO"></a>
                </div>
                
                <div class="top_right_nav">
                    <a href="/"><img src="../images/header_logo/111.jpg" alt="right_nav_img"></a>
                </div>
            </div>
        </div>
        <!-- logo_wrap -->
        <hr>
        <div class="nav_bar container mt-2 text-center p-0">
            <div class="row">
                <div class="nav_bar_menu col-10">
                    <ul class="justify-content-left d-flex text-center ml-5">
                        <li><a href="/page_present" class="">꽃선물</a></li>
                        <li><a href="#" class="">개업화분</a></li>
                        <li><a href="#" class="">승진취임</a></li>
                        <li><a href="#" class="">결혼장례</a></li>
                        <li><a href="#" class="">정기구독</a></li>
                        <li><a href="#" class="">택배특가</a></li>
                        <li><a href="#" class="">EVENT</a></li>
                        <li><a href="#" class="">MAGAZINE</a></li>
                    </ul>
                </div>
                <div class="nav_bar_right col-2">
                    <div class="nav_bar_right_container">
                        <ul class="d-flex justify-content-end">
                            <li class="mr-2">
                                <a href="/mypage"><img src="../images/header_nav/icon_myinfo.svg" alt="myinfo"></a>
                            </li>
                            <li class="mr-2">
                                <a href="/cart" class="cart">
                                    <img src="../images/header_nav/icon_cart.svg" alt="cart">
                                    <div class="cart_count"><span>1</span></div>
                                </a>
                            </li>
                            <li class="mr-2 ml-2">
                                <a href="#" class="search_btn"><img src="../images/header_nav/icon_search.svg" alt="search"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="search_new">
                        <form action="" name="topSearchForm" id="topSearchForm">
                            <div class="input_area">
                                <div class="cont">
                                    <label for="" class="search_box">
                                        <input type="text">
                                        <button type="submit" class="search"></button>
                                        <button type="button" class="close"></button>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- // nav_bar -->
            </div>
        </div>
    </header>
    <!-- ######### //header #########-->