<!-- ++++ 헤더 영역: 시작 ++++ -->
<div id="layout_header" class="layout_header">
    <div class="bn_top bn_top_div">
        <a href="javascript:void(0);">
            <p onclick="location.href='page_present'">
                <!-- 지금 회원가입하면 할인/적립/페이백 혜택! -->
                회원가입시 2,000원 바로지급!
                <span></span>
                <button onclick="event.stopPropagation(); $('.bn_top_div').slideUp();">닫기</button>
            </p>
        </a>
    </div>
    <!-- 플로팅 배너 영역: 시작 -->
    <div class="util_wrap">
        <div class="resp_wrap" style="position: relative;">
            <!-- 왼쪽 플로팅 배너 -->
            <div class="wing_area left_wing_area" style="top: 230px; visibility: visible;">
                <a href="/page_present">
                    <img src="../../images/template/header/floating_banner/out_today.png" alt="전국 2~3시간 순간배송">
                </a>
                <a href="/page_present" style="display:block;margin:10px 0 0 0;">
                    <img src="../../images/template/header/floating_banner/wing_banner_paypal.png" alt="페이팔 결제 가이드">
                </a>
            </div>
            <!-- 오른쪽 플로팅 배너 -->
            <div class="wing_area right_wing_area" style="top: 685px; visibility: visible;">
                <!-- <img src="../../public/images/wing_banner_paypal.png" alt="페이팔 결제 가이드"> -->
            </div>
        </div>
    </div>
    <!-- 플로팅 배너 영역: 끝 -->
    <!-- ######### aside_menu #########-->
    <div id="layout_aside" class="layout_aside ">
        <div class="aside_userinformation">
            <ul>
                <li class="log_left"><span>로그인하세요.</span></li>
                <li class="log_right">
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                </li>
            </ul>
        </div>
        <!-- //aside_userinformation -->
        <div class="aside_main_menu">
            <ul>
                <li class="am_order">
                    <a href="#">
                        <span>주문조회</span>
                    </a>
                </li>
                <li class="am_subscribe">
                    <a href="#">
                        <span>구독조회</span>
                    </a>
                </li>
                <li class="am_my">
                    <a href="#">
                        <span>MY쇼핑</span>
                    </a>
                </li>
                <li class="am_cs">
                    <a href="#">
                        <span>1:1문의</span>
                    </a>
                </li>
                <li class="am_cart">
                    <a href="#">
                        <span>장바구니</span>
                    </a>
                </li>
                <li class="am_wish">
                    <a href="#">
                        <span>워시리스트</span>
                    </a>
                </li>
                <li class="am_coupon">
                    <a href="#">
                        <span>쿠폰</span>
                    </a>
                </li>
                <li class="am_emony">
                    <a href="#">
                        <span>적립금</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- //aside_main_menu -->
        <!-- aside_navigation_wrap -->
        <div class="aside_navigation_wrap">
            <ul class="tab">
                <li class="category current">
                    <a href="#"><span>카테고리</span></a>
                </li>
                <li class="line">
                    <a href="#"><span>라인별</span></a>
                <li class="collection">
                    <a href="#"><span>컬렉션</span></a>
                </li>
                <li class="comunity">
                    <a href="#"><span>커뮤니티</span></a>
                </li>
            </ul>
            <div class="category_cont">
                <ul class="menu">
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="" class="mitem_goodsview">꽃다발</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">꽃바구니</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">꽃상자</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">관엽식물</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">동양란</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">서양란</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">축하화환</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">근조화환</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">분재</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mitem_subcontents">
                        <ul class="submenu">
                            <li class="submitem category">
                                <a href="#" class="mitem_goodsview">기타</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- //aside_navigation_wrap -->
        <!-- banner_paypal -->
        <div class="banner_paypal">
            <a href="#">
                <img src="../../images/template/aside_menu/m_snb_banner_paypal.jpg" 
                        alt="m_snb_banner_paypal">
            </a>
        </div>
        <div class="wrap_aside">
            <h3 class="title_sub3">
                <span>최근 본 상품</span>
            </h3>
        </div>
        <p class="aside_recently_nodata">최근 본 상품이 없습니다.</p>
        <a href="javascript:void(0);" class="side_close" style="top: 0px">
        
        </a>
    </div>
    <!-- ######### //aside_menu #########-->
    <div class="logo_wrap">
        <div class="resp_wrap">
            <!-- logo -->
            <h1 class="logo_area">
                <a href="/">
                    <img src="../../images/template/header/resp_logo_sample.png" 
                            alt="(주)청년들">
                </a>
            </h1>
            <!-- 햄버거 버튼 -->
            <div class="resp_top_hamburger">
                <a href="#">
                    <b>aside menu</b>
                    <h2>전체상품</h2>
                </a>
            </div>
            <!-- //햄버거 버튼 -->
            <!-- ++++ 검색 메뉴 ( 1023px 이하에서 노출 )-->
            <a href="javascript:void(0);" class="top_menu_search_1">

            </a>
            <!-- ++++ 장바구니 ( 1023px 이하에서 노출 )-->
            <a href="#" class="resp_top_cart">
                <span class="cart_cnt2">0</span>
            </a>
            <!-- 헤더 슬라이드 배너 영역 -->
            <div class="gnb_bnr_slide gnb_bnr_slide_02" style="position:absolute; right:40px; top:0px; width:220px; height:148px;">
                <div class="slider_gon">
                    <!-- 헤더 슬라이드 배너 데이터 영역 :: START -->
                    <div class="light_style_1_2 designBanner slick-initialized slick-slider slick-vertical">
                        <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button>
                        <div class="slick-list draggable" style="height: 120px;">
                            <div class="slick-track">
                                <div class="sslide slick-slide slick-cloned">
                                    <a href="#" class="slink">
                                        <img class="simg" src="../../images/template/header/images_1.jpg" alt="1">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
                    </div>
                    <!-- 헤더 슬라이드 배너 데이터 영역 :: END -->
                </div>
            </div>
            <!-- //헤더 슬라이드 배너 영역 -->
        </div>
    </div>
    <!-- //로고영역 -->

    <!-- ++++ 카테고리 메뉴 ++++ -->
    <div id="cateSwiper" class="nav_wrap">
        <div class="resp_wrap">
            <div class="nav_category_area">
                <div class="designCategoryNavigation">
                    <ul class="respCategoryList">
                    <!--
                        <li class="categoryDepth1">
                            <a href="/" class="categoryDepthLink">
                                <em style="color:#D00002">크리스마스</em>
                            </a>
                        </li> 
                    -->
                        <li class="categoryDepth1">
                            <a href="/flower_present_page" class="categoryDepthLink">
                                <em>꽃선물</em>
                            </a>
                        </li>
                        <li class="categoryDepth1">
                            <a href="/" class="categoryDepthLink">
                                <em>개업화분</em>
                            </a>
                        </li>
                        <li class="categoryDepth1">
                            <a href="/" class="categoryDepthLink">
                                <em>승진취임</em>
                            </a>
                        </li>
                        <li class="categoryDepth1">
                            <a href="/" class="categoryDepthLink">
                                <em>결혼장례</em>
                            </a>
                        </li>
                        <li class="categoryDepth1">
                            <a href="/" class="categoryDepthLink">
                                <em>장기구독</em>
                            </a>
                        </li>
                        <li class="categoryDepth1 right_area">
                            <div class="nav_comment">
                                <span>46% 할인</span>
                            </div>
                            <a href="/" class="categoryDepthLink">
                                <em>택배특가</em>
                            </a>
                        </li>
                        <li class="categoryDepth1 right_area">
                            <div class="nav_comment nav_comment_diy">
                                <span>NEW</span>
                            </div>
                            <a href="/" class="categoryDepthLink">
                                <em>꽃시장</em>
                            </a>
                        </li>
                        <li class="custom_nav_link">
                            <a href="/" class="categoryDepthLink">
                                <em>EVENT</em>
                            </a>
                        </li>
                        <li class="custom_nav_link">
                            <a href="/" class="categoryDepthLink">
                                <em>MAGAZINE</em>
                            </a>
                        </li>
                        <!-- 카테고리 메뉴 오른쪽  -->
                        <li class="categoryDepth1 right_area">
                            <a href="/mypage" class="top_menu_myinfo"></a>
                        </li>
                        <li class="categoryDepth1 right_area">
                            <a href="/cart" class="top_menu_cart">
                                <span class="cart_cnt2">0</span>
                            </a>
                        </li>
                        <li class="categoryDepth1 right_area">
                            <a href="javascript:void(0);" class="top_menu_search"></a>
                            <div id="searchModule" class="resp_top_search">
                                <a href="javascript:void(0);" id="btnSearchV2" class="btn_search_open">
                                    검색
                                </a>
                                <div id="searchVer2" class="search_ver2">
                                    <div class="search_new">
                                        <!-- ++++ 검색 입력 ++++ -->
                                        <form name="topSearchForm" id="topSearchForm">
                                            <div class="input_area">
                                                <div class="cont">
                                                    <label class="search_box">
                                                        <input type="text" name="search_text" id="searchVer2InputBox" class="search_ver2_input_box" 
                                                                placeholder="필요한 상품을 입력해주세요." autocomplete="off">
                                                    </label>
                                                    <button type="submit" class="search"></button>
                                                    <button type="button" class="close searchModuleClose"></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ++++ 헤더 영역: 끝 ++++ -->
{% block script %}
<script>
    $(function() {

        //headerpop
        $('.header_close').click(function() {
            $('.bn_top').fadeOut(300);
        });

        //float_banner
        var floatPosition = parseInt($(".left_wing_area").css('top'));
        // 250px 이런식으로 가져오므로 여기서 숫자만 가져온다. parseInt( 값 );

        $(window).scroll(function() {
            
            var scrollTop = $(window).scrollTop(); // 현재 스크롤 위치를 가져온다.
            var newPosition = scrollTop+ floatPosition + "px";

            $(".left_wing_area").stop().animate({
                "top" : newPosition,
                
            }, 800);
        }).scroll(); 

        //aside_menu 
        $('.resp_top_hamburger > a').click(function() {
            $('.layout_aside').addClass('on');
            $('.side_close').addClass('on')
        });
        $('.side_close').click(function() {
            $('.layout_aside').removeClass('on');
            $('.side_close').removeClass('on')
        });

        //상단 검색 돋보기 
        $('.top_menu_search').click(function() {
            $('.search_ver2').addClass('on');
        });
        $('.close').click(function() {
            $('.search_ver2').removeClass('on');
            $('.search_new').style.display = "block";
        });

        //카테고리 메뉴 
        $('.categoryDepth1 > a').click(function() {
            const index = $(this).index();
            $('.categoryDepth1').addClass('on').siblings().removeClass('on');
        });

    });//jQuery
</script>
{% endblock %}

