{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="../../css/main/main.css">
{% endblock %}

{% block content %}
<div id="layout_body" class="layout_body">
    <div class="main_visual">
        <div class="slides">
            <div class="visual slick-initialized slick-slider slick-dotted">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button>
                <div class="slick-list draggable">
                    <div class="slick-track">
                        <div class="visual-wrap slick-slide slick-cloned">
                            <a href="#">
                                <div class="visual_pc" style="background-image: url('../../images/slider/visual_open.jpg');">

                                </div>
                                <div class="visual_m">
                                    <!-- <img src="../../images/slider/m_visual_open.jpg" alt="오픈이미지"> -->
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
                <ul class="slick-dots" style="display: block;" role="tablist">
                    <li class="slick-active" role="presentation">
                        <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 5" tabindex="-1">1</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 5" tabindex="-1">2</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 5" tabindex="-1">3</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 5" tabindex="-1">4</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04" aria-label="5 of 5" tabindex="-1">5</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ++++ 슬라이드 영역: 끝 ++++ -->

    <!-- ++++ 테마 메뉴 영역: 시작 ++++ -->
    <div class="theme_content">
        <div class="row g-3 g-md-2">
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">꽃선물</div>
                        <div>
                            <img src="../../images/theme_content/flower.jpg" alt="flower" class="flower">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">개업축하</div>
                        <div>
                            <img src="../../images/theme_content/plant.jpg" alt="plant" class="plant">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">공기정화</div>
                        <div>
                            <img src="../../images/theme_content/plant2.jpg" alt="plant2" class="plant2">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">승진취임</div>
                        <div>
                            <img src="../../images/theme_content/orchid.jpg" alt="orchid" class="orchid">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">병문안</div>
                        <div>
                            <img src="../../images/theme_content/etc.jpg" alt="etc" class="etc">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">출산선물</div>
                        <div>
                            <img src="../../images/theme_content/etc2.jpg" alt="etc2" class="etc2">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">결혼식</div>
                        <div>
                            <img src="../../images/theme_content/wreath.jpg" alt="wreath" class="wreath">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col sizing">
                <div class="theme_box_1220">
                    <a href="#">
                        <div class="theme_text">장례식</div>
                        <div>
                            <img src="../../images/theme_content/wreath2.jpg" alt="wreath2" class="wreath2">
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
    <!-- ++++ 테마 메뉴 영역: 끝 ++++ -->


</div>
<!-- ++++ 바디 영역: 끝 ++++ -->
{% endblock %}

{% block indexScript %}
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>

</script>
{% endblock %}
