{% extends '../layout.html' %}

{% block content %}
<div id="layout_body" class="layout_body">
    <div class="main_visual">
        <div class="slides">
            <div class="visual slick-initialized slick-slider slick-dotted">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button>
                <div class="slick-list draggable">
                    <div class="slick-track">
                        <div class="visual-wrap slick-slide slick-cloned">
                            <a href="#">
                                <div class="visual_pc" style="background-image: url('../../images/slider/visual_open.jpg');">

                                </div>
                                <div class="visual_m">
                                    <!-- <img src="../../images/slider/m_visual_open.jpg" alt="오픈이미지"> -->
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
                <ul class="slick-dots" style="display: block;" role="tablist">
                    <li class="slick-active" role="presentation">
                        <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 5" tabindex="-1">1</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 5" tabindex="-1">2</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 5" tabindex="-1">3</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 5" tabindex="-1">4</button>
                    </li>
                    <li role="presentation">
                        <button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04" aria-label="5 of 5" tabindex="-1">5</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ++++ 슬라이드 영역: 끝 ++++ -->

    <!-- ++++ 테마 메뉴 영역: 시작 ++++ -->
    <div class="theme_content">
        <div class="theme_box">
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">꽃선물</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/flower.jpg" alt="1" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">개업축하</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/plant.jpg" alt="2" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">공기정화</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/plant2.jpg" alt="3" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">승진취임</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/orchid.jpg" alt="4" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">병문안</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/etc.jpg" alt="5" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">출산선물</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/etc2.jpg" alt="6" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">결혼식</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/wreath.jpg" alt="7" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="theme_box_item">
                <div class="theme_box_item_box">
                    <a href="#">
                        <div class="theme_box_item_title">장례식</div>
                        <div class="theme_box_item_image_box">
                            <div class="theme_box_item_image theme_1_box">
                                <img src="../../images/theme_content/wreath2.jpg" alt="8" class="theme_1">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    <!-- ++++ 테마 메뉴 영역: 끝 ++++ -->
        <div class="responsive_wrap">
        <div class="title_group_1">
            <div class="d-flex align-items-center">
                <h3>추천상품</h3>
                <p class="ml-3 pt-3">꽃집청년들이 선택했어요:D</p>
            </div> 
        </div>
        <div class="swiperWrap">
            <ul>
                <li class="good_item">
                    <div class="good_item_wrap">
                        <!-- 상품이미지 -->
                        <swiper-container class="swiper_box" watch-slides-progress="true" slides-per-view="4" navigation="true">
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/1.jpg" alt="1"></a>
                                <p>BEST 1위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/2.jpg" alt="2"></a>
                                <p>BEST 2위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/3.jpg" alt="3"></a>
                                <p>BEST 3위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/4.jpg" alt="4"></a>
                                <p>BEST 4위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/5.jpg" alt="5"></a>
                                <p>BEST 5위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/6.jpg" alt="6"></a>
                                <p>BEST 6위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/7.jpg" alt="7"></a>
                                <p>BEST 7위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/8.jpg" alt="8"></a>
                                <p>BEST 8위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/9.jpg" alt="9"></a>
                                <p>BEST 9위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/10.jpg" alt="10"></a>
                                <p>BEST 10위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/11.jpg" alt="11"></a>
                                <p>BEST 11위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/12.jpg" alt="12"></a>
                                <p>BEST 12위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/13.jpg" alt="13"></a>
                                <p>BEST 13위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/14.jpg" alt="14"></a>
                                <p>BEST 14위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/15.jpg" alt="15"></a>
                                <p>BEST 15위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/16.jpg" alt="16"></a>
                                <p>BEST 16위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/17.jpg" alt="17"></a>
                                <p>BEST 17위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/18.jpg" alt="18"></a>
                                <p>BEST 18위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/19.jpg" alt="19"></a>
                                <p>BEST 19위</p>
                            </swiper-slide>
                            <swiper-slide>
                                <a href="#"><img src="../images/good_display/20.jpg" alt="20"></a>
                                <p>BEST 20위</p>
                            </swiper-slide>
                        </swiper-container>
                    </div>
                    <!-- //good_item_wrap -->
                </li>
            </ul>
        </div>
        <!-- //추천상품 슬라이드-->

        <!-- 배너 자세히 보기-->
        <div class="banner">
            <a href="#" class="banner_face bn_kiss">
                <h5>꽃, 명화(名花)를 표현하다</h5>
                <span>자세히 보기</span>
            </a>
        </div>
        <!-- //배너 자세히 보기-->

        <div class="bn_wrap" container mt-5">
            <ul class="main_bn">
                <li class="left_area">
                    <a href="#"><img src="../images/bn_8years/ban_award_2023.png" alt="award"></a>
                    <ul class="main_bn_1">
                        <li class="left"><a href="#"><img src="../images/bn_8years/resp_bnr_main_102.jpg" alt="kakao"></a></li>
                        <li class="center"><a href=""><img src="../images/bn_8years/resp_bnr_main_103.jpg" alt="talk"></a></li>
                        <li class="right"><a href=""><img src="../images/bn_8years/resp_bnr_main_104.jpg" alt="pay"></a></li>
                    </ul>
                </li>
                <li class="right_area">
                    <div class="slider_bn">
                        <a href="#"><img src="../images/bn_8years/images_1.png" alt="flowers"></a>
                    </div>
                    <div class="slider_bn">
                        <a href="#"><img src="../images/bn_8years/images_2.png" alt="flowers"></a>
                    </div>
                </li>
            </ul>
        </div>
        </div>

        <!-- 꽃선물 Swiper Slide -->
        <div class="responsive_wrap">
        <!-- ######### //주제별 컨텐츠(카테고리) #########-->
        <div class="title_group_1">
        <div class="d-flex align-items-center">
            <h3>꽃선물</h3>
            <p class="ml-3 pt-3">한아름 피어나는 싱그러운 미소를 상상해요.</p>
        </div> 
        </div>
        <div class="swiperWrap">
        <ul>
            <li class="good_item">
                <div class="good_item_wrap">
                    <!-- 상품이미지 -->
                    <swiper-container class="swiper_box" watch-slides-progress="true" slides-per-view="4" navigation="true">
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/1.jpg" alt="1"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/2.jpg" alt="2"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/3.jpg" alt="3"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/4.jpg" alt="4"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/5.jpg" alt="5"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/6.jpg" alt="6"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/7.jpg" alt="7"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/8.jpg" alt="8"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/9.jpg" alt="9"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/10.jpg" alt="10"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/11.jpg" alt="11"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/12.jpg" alt="12"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/13.jpg" alt="13"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/14.jpg" alt="14"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/15.jpg" alt="15"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/16.jpg" alt="16"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/17.jpg" alt="17"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/18.jpg" alt="18"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/19.jpg" alt="19"></a>
                        </swiper-slide>
                        <swiper-slide>
                            <a href="#"><img src="../images/good_display/20.jpg" alt="20"></a>
                        </swiper-slide>
                    </swiper-container>
                </div>
                <!-- //good_item_wrap -->
            </li>
        </ul>
        </div>
        <!-- //꽃선물 배너(수국) -->
        <div class="banner">
        <a href="#" class="banner_flower bn_present">
            <h5>수국으로 진심을 선물해보세요:O</h5>
            <span>자세히 보기</span>
        </a>
        </div>
        <!-- //꽃선물 배너(수국)  -->

        <!-- 관엽식물 Swiper Slide -->
        <div class="responsive_wrap">
            <!-- ######### //주제별 컨텐츠(카테고리) #########-->
            <div class="title_group_1">
                <div class="d-flex align-items-center">
                    <h3>관엽식물</h3>
                    <p class="ml-3 pt-3">삭막한 공간을 생기 넘치게!</p>
                </div> 
            </div>
            <div class="swiperWrap">
                <ul>
                    <li class="good_item">
                        <div class="good_item_wrap">
                            <!-- 상품이미지 -->
                            <swiper-container class="swiper_box" watch-slides-progress="true" slides-per-view="4" navigation="true">
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/1.jpg" alt="1"></a>
                                </swiper-slide>
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/2.jpg" alt="2"></a>
                                </swiper-slide>
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/3.jpg" alt="3"></a>
                                </swiper-slide>
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/4.jpg" alt="4"></a>
                                </swiper-slide>
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/5.jpg" alt="5"></a>
                                </swiper-slide>
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/6.jpg" alt="6"></a>
                                </swiper-slide>
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/7.jpg" alt="7"></a>
                                </swiper-slide>
                                <swiper-slide>
                                    <a href="#"><img src="../images/foliage/8.jpg" alt="8"></a>
                                </swiper-slide>
                            </swiper-container>
                        </div>
                        <!-- //good_item_wrap -->
                    </li>
                </ul>
            </div>
            <!-- //관엽식물 Swiper Slide -->

            <!-- //꽃선물 슬라이드(수국) -->
            <div class="banner_support">
                    <h5>Support 방송&공연 협찬</h5>
                    <ul class="banner_template">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
            </div>
            <!-- //꽃선물(수국)  -->
            <div class="title_group_1">
                <div class="d-flex align-items-center">
                    <h3>동서양난</h3>
                    <p class="ml-3 pt-3">꼿꼿한 기품, 절개의 상징</p>
                </div> 
            </div>

            <div class="two_display_wrap">
                <ul class="two_display_nav">
                    <li class="active" style="width: 50%"><a>동양난</a></li>
                    <li class="" style="width: 50%"><a>서양난</a></li>
                </ul>
                <div class="two_display_imgbox d-block">
                    <div class="img_items_1">
                        <ul class="d-flex mt-2 justify-content-lg-around">
                            <li><a href="#"><img src="./images/twodisplay/128_temp_16972576440319list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2 mt-2 pb-2">
                                    <li><a href="#"><h5>고민NO 동양란-동</h5></a></li>
                                    <li><a href="#">어렵기만한 동양란, 어떤것으로 보낼지 
                                                    고민하지 마시고 고민NO 상품을 선택하세요.</a></li>
                                    <li><a href="#">49,000원</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="./images/twodisplay/129_temp_16972577752253list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2">
                                    <li><a href="#"><h5>황금채홍 청자투각</h5></a></li>
                                    <li><a href="#">무기재를 뜻하는 이름처럼 잎의 곡선과 가장자리에 머금은 금빛 테두리는 아름다움
                                                    을 한껏 뽐내고, 청자분은 고급스러움을 더합니다.
                                    </a></li>
                                    <li><a href="#">99,000원</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="./images/twodisplay/171_temp_16972594941927list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2">
                                    <li><a href="#"><h5>고민NO 동양란-서</h5></a></li>
                                    <li><a href="#">어렵기만한 동양란, 어떤것으로 보낼지 
                                                    고민하지 마시고 고민NO 상품을 선택하세요.</a></li>
                                    <li><a href="#">99,000원</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="./images/twodisplay/173_temp_16972581076350list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2">
                                    <li><a href="#"><h5>황룡관 청자투각</h5></a></li>
                                    <li><a href="#">고풍스러운 금빛 기품을 자랑하는 고급란입니다.</a></li>
                                    <li><a href="#">148,500원</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="img_items_2">
                        <ul class="d-flex justify-content-lg-around">
                            <li><a href="#"><img src="./images/twodisplay/208_temp_16995901761864list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2">
                                    <li><a href="#"><h5>황룡관 청자투각</h5></a></li>
                                    <li><a href="#">고풍스러운 금빛 기품을 자랑하는 고급란입니다.</a></li>
                                    <li><a href="#">148,500원</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="./images/twodisplay/210_temp_16675196086376list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2">
                                    <li><a href="#"><h5>황룡관 청자투각</h5></a></li>
                                    <li><a href="#">고풍스러운 금빛 기품을 자랑하는 고급란입니다.</a></li>
                                    <li><a href="#">148,500원</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="./images/twodisplay/214_temp_16972606303551list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2">
                                    <li><a href="#"><h5>황룡관 청자투각</h5></a></li>
                                    <li><a href="#">고풍스러운 금빛 기품을 자랑하는 고급란입니다.</a></li>
                                    <li><a href="#">148,500원</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="./images/twodisplay/216_temp_16675282251276list1.jpg" alt="1"></a>
                                <ul class="two_display_text d-block text-left mt-2 pb-2">
                                    <li><a href="#"><h5>황룡관 청자투각</h5></a></li>
                                    <li><a href="#">고풍스러운 금빛 기품을 자랑하는 고급란입니다.</a></li>
                                    <li><a href="#">148,500원</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //two_display_imgbox -->
            </div>

            <!-- //MAGAZINE 배너 -->
            <div class="banner">
                <a href="#" class="banner_magazine bn_book">
                    <h5>MAGAZINE 내 마음을 담다</h5>
                    <span>자세히 보기</span>
                </a>
            </div>
            <!-- //MAGAZINE 배너  -->


            <!-- 고객만족 Swiper Slide -->
            <div class="responsive_wrap">
                <!-- ######### //주제별 컨텐츠(카테고리) #########-->
                <div class="title_group_1">
                    <div class="d-flex align-items-center">
                        <h3>고객만족</h3>
                        <p class="ml-3 pt-3">만족도가 높은 상품입니다.</p>
                    </div> 
                </div>
                <div class="swiperWrap">
                    <ul>
                        <li class="good_item">
                            <div class="good_item_wrap">
                                <!-- 상품이미지 -->
                                <swiper-container class="swiper_box" watch-slides-progress="true" slides-per-view="4" navigation="true">
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/1.jpg" alt="1"></a>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/2.jpg" alt="2"></a>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/3.jpg" alt="3"></a>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/4.jpg" alt="4"></a>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/5.jpg" alt="5"></a>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/6.jpg" alt="6"></a>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/7.jpg" alt="7"></a>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <a href="#"><img src="../images/satisfy/8.jpg" alt="8"></a>
                                    </swiper-slide>
                                </swiper-container>
                            </div>
                            <!-- //good_item_wrap -->
                        </li>
                    </ul>
                </div>
                <!-- //관엽식물 Swiper Slide -->
            </div>
        </div>
        <!-- // responsive_wrap -->
        </div>
        <!-- //responsive_wrap(고객만족) -->
    </div>
    <!-- ++++ 바디 영역: 끝 ++++ -->
    {% endblock %}


    {% block indexScript %}
<script>
    //메뉴
    $('.nav > ul > li').mouseover(function() {
        $(this).find('.submenu').stop().slideDown();
    });
    $('.nav > ul > li').mouseout(function() {
        $(this).find('.submenu').stop().slideUp();
    });

    $('.sliderWrap').slick({ 
        dots: true,
        infinite: true,
        speed: 1000,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay : true,          
        autoplaySpeed : 2000,
        vertical : false,
        draggable : true,
        arrows: true,
    });

    $('.right_area').slick({ 
        dots: true,
        infinite: true,
        speed: 1000,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay : true,          
        autoplaySpeed : 1000,
        vertical : false,
        draggable : true,
        arrows: true,
    });
    
    window.onload = function() {


    //swiper-image span
    let swiperImg = document.querySelectorAll('.swiper_box img');
    let swiperP = document.querySelectorAll('.swiper_box p');   

    swiperImg.forEach((img) => {
        img.addEventListener("mouseover", function() {
            swiperP.forEach((p) => {
                p.style.opacity = "0.6";
                p.style.transform = "translate(0, -25%)";
                p.style.transition = "all 500ms"
            });
        });
        img.addEventListener("mouseout", function() {
            swiperP.forEach((p) => {
                p.style.opacity = "1.0";
                p.style.transform = "translate(0,0)";
                p.style.transition = "all 300ms"
            });
        });
    });
}
</script>    
{% endblock %}


